@charset "UTF-8";
@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2-VariableFont_wght.ttf");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Exo2';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin: 1em;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  text-align: justify;
}

header,
main,
footer {
  width: 100%;
}

nav,
section {
  width: 100%;
  padding: 0 8%;
}

.bc-menu_hor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  padding: 0.7em;
  gap: 0.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bc-menu_ver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  padding: 0.7em;
  gap: 0.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bc-submenu_hor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bc-submenu_ver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bc-link {
  color: #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.bc-link:hover {
  color: #aaa;
}

.bc-button {
  text-decoration: none;
  font-family: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8rem;
  line-height: 1em;
  color: #000;
  padding: 0.3em;
  border: 1px solid #000;
  border-radius: 0.2em;
  background-color: #eee;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.bc-button:hover {
  background-color: #fff;
}

.bc-button:active {
  background-color: #aaa;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

.bc-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 10rem;
}

.bc-logo img {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.bc-card_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.bc-card_wrapper a {
  text-decoration: none;
  color: #000;
}

.bc-card {
  display: -ms-grid;
  display: grid;
  width: clamp(7em, 20%, 14em);
  padding: 0.7em;
  border: 1px solid #aaa;
  border-radius: 0.2em;
}

.bc-card:hover {
  background-color: #eee;
}

.bc-card img {
  width: 100%;
  height: clamp(3rem, 100%, 15rem);
  -o-object-fit: cover;
     object-fit: cover;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/Cuprum-VariableFont_wght.ttf");
}

:root {
  --page-padding: 10%;
  --menu-height: 3.35rem;
}

body {
  font-family: 'Cuprum';
  margin: 0;
  background-color: #fff;
}

h1 {
  text-align: center;
}

h2, h3, h4 {
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
  padding: 0;
  padding-bottom: 1.5rem;
}

header {
  background: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 10;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  gap: 0;
}

header.state_dark {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

header:not(.state_dark) .item-wrapper:hover .top-menu-item,
header:not(.state_dark) .item-wrapper:focus .top-menu-item,
header:not(.state_dark) .item-wrapper:focus-within .top-menu-item {
  background-color: rgba(0, 0, 0, 0.8);
}

section {
  padding-top: calc(var(--menu-height) + 0.5rem);
  padding-bottom: 2rem;
  position: relative;
}

.bc-menu_hor,
.bc-menu_ver,
.bc-button {
  border: none;
  border-radius: 0;
}

.bc-button {
  font-size: 1rem;
  padding: 0.5rem;
  background: #ffcc00;
}

.bc-button:active {
  background-color: #fff;
}

.upper {
  color: #fff;
  height: 2rem;
  padding: 0 var(--page-padding);
  width: 100%;
  text-shadow: 0 0 1px #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.upper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.upper a:hover {
  color: #ffcc00;
  text-shadow: 0 0 2px #ffcc00;
}

.upper.state_hidden {
  opacity: 0;
  padding: 0;
}

.upper .logo_desc {
  position: relative;
  font-size: 0.9rem;
}

.upper .logo_desc::after {
  content: '®';
  position: absolute;
  bottom: -1rem;
  left: 10.5rem;
  font-size: 1.3rem;
  color: #000;
  text-shadow: 0 0 1px #fff;
}

.upper .logo_desc-text {
  position: absolute;
  top: 4.4rem;
  left: 0;
  width: 15rem;
  font-size: 0.7rem;
}

.top {
  height: var(--menu-height);
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  padding: 0;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  color: #fff;
}

.top ul {
  list-style-type: none;
  padding: 0;
}

.top-logo {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  max-width: 8rem;
}

.top-logo.state_big {
  margin-top: -1rem;
  max-width: 11rem;
}

.top-menu {
  position: relative;
  height: 100%;
  gap: 0;
}

.top-menu a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.top-menu .item-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -1px;
}

.top-menu-item {
  height: 100%;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 1px #000;
  -webkit-transition: border-width 0s;
  transition: border-width 0s;
  border: 1px solid transparent;
}

.top-menu-item:hover {
  color: #ffcc00;
  text-shadow: 0 0 2px #ffcc00;
}

.top-menu .dropdown {
  z-index: -1;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: calc(100% - 1px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transition: all 0.2s ease 0s, visibility 0s linear 0.2s, z-index 0s linear 0.01s;
  transition: all 0.2s ease 0s, visibility 0s linear 0.2s, z-index 0s linear 0.01s;
}

.top-menu .dropdown-item {
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 1px #000;
}

.top-menu .dropdown-item:hover {
  color: #ffcc00;
  text-shadow: 0 0 2px #ffcc00;
}

.top-menu .dropdown-item.state_active {
  border: 1px solid #fff;
}

.top-menu .dropdown::after {
  content: '';
  position: absolute;
  top: calc(var(--menu-height) * -1);
  left: -1px;
  height: 4rem;
  width: 0;
  border-left: 1px solid #fff;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.top-menu .dropdown .item-wrapper a {
  padding: 0.5rem 1rem;
  width: 100%;
}

.top-menu .dropdown .item-wrapper:first-of-type a {
  padding-top: 1rem;
}

.top-menu .dropdown .item-wrapper:last-of-type a {
  padding-bottom: 1rem;
}

.top-menu .item-wrapper {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.top-menu .item-wrapper:hover > .dropdown,
.top-menu .item-wrapper:focus > .dropdown,
.top-menu .item-wrapper:focus-within > .dropdown {
  z-index: inherit;
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s, 0s, 0.2s;
          transition-delay: 0s, 0s, 0.2s;
}

.top-menu .item-wrapper:hover > .dropdown::after,
.top-menu .item-wrapper:focus > .dropdown::after,
.top-menu .item-wrapper:focus-within > .dropdown::after {
  -webkit-transform: none;
          transform: none;
}

.top-phone {
  gap: 2rem;
}

.top-phone-number {
  color: #fff;
  text-shadow: 0 0 1px #000;
}

.top-phone-number:hover {
  color: #ffcc00;
  text-shadow: 0 0 2px #ffcc00;
}

.page_nav {
  position: fixed;
  padding-left: 1.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  z-index: 2;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.page_nav.state_hidden {
  left: -5rem;
}

.page_nav ul {
  padding: 0;
  margin: 0;
}

.page_nav ul li {
  position: relative;
  padding: 0;
  list-style-type: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.page_nav ul li img {
  height: 2rem;
  -webkit-filter: brightness(100) saturate(100);
          filter: brightness(100) saturate(100);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.page_nav ul li:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.page_nav ul li:not(:last-of-type) {
  margin: 0;
  margin-bottom: 3rem;
}

.page_nav ul li:not(:last-of-type)::after {
  content: '';
  position: absolute;
  height: 3.5rem;
  top: 95%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  border-left: 0.25rem dotted;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page_nav ul .state_active img {
  -webkit-filter: invert(71%) sepia(99%) saturate(449%) hue-rotate(355deg) brightness(97%) contrast(109%);
          filter: invert(71%) sepia(99%) saturate(449%) hue-rotate(355deg) brightness(97%) contrast(109%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.first {
  margin-top: calc(calc(2rem + var(--menu-height)) * -1);
  padding: 0;
  height: 100vh;
  position: relative;
}

.first h1 {
  margin: 0;
  position: absolute;
  top: 20%;
  left: var(--page-padding);
  width: calc(45% - var(--page-padding));
  z-index: 2;
  color: #fff;
  font-size: 3rem;
  text-align: left;
}

.first-merits {
  position: absolute;
  top: 40%;
  left: var(--page-padding);
  z-index: 2;
  width: 40%;
  color: #fff;
}

.first-merits .merit {
  cursor: pointer;
}

.first-slider {
  height: 100%;
  width: 100%;
  position: relative;
}

.first-slider .swiper {
  height: 100%;
}

.first-slider .swiper-slide {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.first-slider .swiper-slide .slide-bg_img {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.first-slider .swiper-slide .slide-bg_img::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.first-slider .swiper-slide a {
  color: #fff;
}

.first-slider .swiper-slide a:hover {
  color: #ffcc00;
  text-shadow: 0 0 2px #ffcc00;
}

.first-slider .swiper-slide a:hover .slide-img_wrapper img {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.first-slider .swiper-slide a:hover .slide-img_wrapper:after, .first-slider .swiper-slide a:hover .slide-img_wrapper:before {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.first-slider .swiper-slide a:hover .slide-textcard::after {
  right: 1px;
  left: calc(70px + 81px + 1.5rem);
  background-color: #ffcc00;
  -webkit-box-shadow: 0 0 2px #ffcc00;
          box-shadow: 0 0 2px #ffcc00;
}

.first-slider .swiper-slide a:hover .slide-textcard::before {
  left: calc(70px + 1rem);
  opacity: 1;
}

.first-slider .swiper-slide a:hover .slide-textcard p::before {
  right: 0;
  opacity: 1;
}

.first-slider .swiper-slide .slide-img_wrapper {
  position: absolute;
  bottom: 2.5rem;
  height: 45%;
  right: var(--page-padding);
  width: calc(45% - var(--page-padding));
}

.first-slider .swiper-slide .slide-img_wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  right: calc(1rem - 1px);
  width: calc(100% - 2rem);
  border-right: 1px solid #ffcc00;
  border-left: 1px solid #ffcc00;
  -webkit-transform: translateY(10%) scaleY(0.5);
          transform: translateY(10%) scaleY(0.5);
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.first-slider .swiper-slide .slide-img_wrapper:before {
  content: '';
  position: absolute;
  top: calc(1rem - 1px);
  height: calc(100% - 2rem);
  right: 0;
  width: 100%;
  border-top: 1px solid #ffcc00;
  border-bottom: 1px solid #ffcc00;
  -webkit-transform: translateX(10%) scaleX(0.5);
          transform: translateX(10%) scaleX(0.5);
  opacity: 0;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.first-slider .swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.first-slider .swiper-slide .slide-textcard {
  position: absolute;
  bottom: calc(45% + 5.9rem);
  right: var(--page-padding);
  width: calc(45% - var(--page-padding));
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.first-slider .swiper-slide .slide-textcard::after {
  position: absolute;
  content: '';
  right: 1rem;
  left: calc(70px + 1rem);
  bottom: -1.6rem;
  height: 1px;
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.first-slider .swiper-slide .slide-textcard::before {
  position: absolute;
  content: 'Подробнее';
  padding: 1rem 0 1.2rem;
  font-size: 1rem;
  right: 0;
  left: calc(70px + 1rem);
  bottom: -1.6rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.first-slider .swiper-slide .slide-textcard p {
  position: relative;
  margin: 0;
}

.first-slider .swiper-slide .slide-textcard p::before {
  position: absolute;
  content: '>';
  padding: 1rem 0;
  right: 0;
  bottom: -1.5rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.first-slider .swiper-slide .slide-textcard h3 {
  text-align: left;
  padding-bottom: 0.5rem;
}

.first-slider .swiper-navigation {
  position: absolute;
  right: calc(calc(45% - var(--page-padding)) + var(--page-padding));
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 5;
  bottom: calc(45% + 3.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-slider .swiper-pagination {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
  color: #ffcc00;
  text-shadow: 0 0 2px #ffcc00;
  font-size: 1.2rem;
}

.first-slider .swiper-pagination span {
  text-shadow: none;
  color: #fff;
}

.first-slider .swiper-button-next, .first-slider .swiper-button-prev {
  position: relative;
  height: 1.6rem;
  width: auto;
  padding: 0;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  color: #ffcc00;
  margin: 0 !important;
  text-shadow: 0 0 2px #ffcc00;
}

.first-slider .swiper-button-next::after, .first-slider .swiper-button-prev::after {
  font-size: 1.2rem;
}

.first-slider .swiper-button-next {
  padding-left: 0.7rem;
}

.first-slider .swiper-button-prev {
  padding-right: 0.7rem;
}

.lineup {
  position: relative;
  min-height: 80vh;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

.lineup::before {
  position: absolute;
  z-index: -1;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/lineup_bg.jpg");
  background-position: center;
  background-size: cover;
}

.lineup-wrapper {
  gap: 2rem;
}

.lineup .vehicle {
  width: clamp(25rem, 30%, 35rem);
  color: #000;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: fit-content 1fr;
      grid-template-columns: -webkit-fit-content 1fr;
      grid-template-columns: fit-content 1fr;
  gap: 1rem 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.lineup .vehicle h3 {
  font-weight: bold;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  text-align: left;
  padding: 1.5rem;
  padding-bottom: 0;
}

.lineup .vehicle-props {
  list-style-type: none;
  font-size: 0.9rem;
  padding: 1.5rem;
  padding-top: 0;
  margin: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5rem;
  text-align: left;
}

.lineup .vehicle-props li .name {
  display: block;
}

.lineup .vehicle-props li .value {
  font-weight: bold;
}

.lineup .vehicle-img_wrapper {
  position: relative;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
}

.lineup .vehicle-img_wrapper img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.lineup .vehicle-img_wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  right: 0.75rem;
  width: 0;
  border-right: 1px solid #ffcc00;
  -webkit-transform: translateY(-10%) scaleY(0.5);
          transform: translateY(-10%) scaleY(0.5);
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.lineup .vehicle-img_wrapper:before {
  content: '';
  position: absolute;
  top: 0.75rem;
  height: calc(100% - 1.5rem);
  right: 0;
  width: 100%;
  border-top: 1px solid #ffcc00;
  border-bottom: 1px solid #ffcc00;
  -webkit-transform: translateX(10%) scaleX(0.5);
          transform: translateX(10%) scaleX(0.5);
  opacity: 0;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.lineup .vehicle:hover {
  background-color: #ffcc00;
}

.lineup .vehicle:hover .vehicle-img_wrapper img {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.lineup .vehicle:hover .vehicle-img_wrapper:after, .lineup .vehicle:hover .vehicle-img_wrapper:before {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.third {
  height: 100vh;
  width: 100%;
  background-color: #B0251E;
}

.fourth {
  height: 100vh;
  width: 100%;
  background-color: #5E5E5E;
}
/*# sourceMappingURL=styles.css.map */