@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2-VariableFont_wght.ttf");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Exo2';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin: 1em;
}

menu {
  padding: 0;
  margin: 0;
}

header,
main,
footer {
  width: 100%;
}

nav,
section {
  width: 100%;
  padding: 0 8%;
}

.bc-menu-hor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  padding: 0.7em;
  gap: 0.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bc-menu-ver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  padding: 0.7em;
  gap: 0.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bc-submenu-hor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bc-submenu-ver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bc-link {
  color: #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.bc-link:hover {
  color: #aaa;
}

.bc-button {
  text-decoration: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8rem;
  line-height: 1em;
  color: #000;
  padding: 0.3em;
  border: 1px solid #000;
  border-radius: 0.2em;
  background-color: #eee;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.bc-button:hover {
  background-color: #fff;
}

.bc-button:active {
  background-color: #aaa;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

.bc-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 10rem;
}

.bc-logo img {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.bc-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.bc-card-wrapper a {
  text-decoration: none;
  color: #000;
}

.bc-card {
  display: -ms-grid;
  display: grid;
  width: clamp(7em, 20%, 14em);
  padding: 0.7em;
  border: 1px solid #aaa;
  border-radius: 0.2em;
}

.bc-card:hover {
  background-color: #eee;
}

.bc-card img {
  width: 100%;
  height: clamp(3rem, 100%, 15rem);
  -o-object-fit: cover;
     object-fit: cover;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/Cuprum-VariableFont_wght.ttf");
}

body {
  font-family: 'Cuprum';
  margin: 0;
  background-color: #fff;
}

h1 {
  text-align: center;
}

header {
  background: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 10;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.bc-menu-hor,
.bc-menu-ver,
.bc-button {
  border: none;
  border-radius: 0;
}

.bc-button {
  font-size: 1rem;
  padding: 0.5em;
  background-color: #F9E120;
}

.bc-button:active {
  background-color: #fff;
  color: #aaa;
}

.top {
  height: 4rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  padding: 0;
  padding-left: 15%;
  padding-right: 15%;
  color: #fff;
}

.top-menu {
  gap: 0.1em;
  list-style-type: none;
  padding: 0;
}

.top-menu li {
  padding: 0;
}

.top-menu-item {
  padding: 0.5em 0.7em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 0.1rem #000;
  -webkit-transition: border-width 0s;
  transition: border-width 0s;
}

.top-menu-item:hover {
  color: #F9E120;
}

.top-menu-item--active {
  color: #F9E120;
  border: 0.1em solid #F9E120;
}

.top-phone-number {
  color: #fff;
  text-shadow: 0 0 0.2rem #000;
}

.workhours {
  height: 2rem;
  padding: 0;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.page_nav {
  padding: 0;
  position: fixed;
  width: 10rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 3rem;
  z-index: 2;
  color: #fff;
}

.page_nav ul {
  padding: 0;
  margin: 0;
  opacity: 0.8;
}

.page_nav ul li {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3rem 0;
  cursor: pointer;
}

.page_nav ul li img {
  height: 2rem;
  -webkit-filter: brightness(100) saturate(100%);
          filter: brightness(100) saturate(100%);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page_nav ul li:not(:last-of-type):after {
  content: '';
  position: absolute;
  height: 3.5rem;
  top: 95%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  border-left: 0.25rem dotted;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page_nav ul .active img {
  -webkit-filter: brightness(0) saturate(100%) invert(82%) sepia(66%) saturate(924%) hue-rotate(340deg) brightness(111%) contrast(95%);
          filter: brightness(0) saturate(100%) invert(82%) sepia(66%) saturate(924%) hue-rotate(340deg) brightness(111%) contrast(95%);
}

.first {
  margin-top: -6rem;
  padding: 0;
  height: 100vh;
}

.first-slider {
  height: 100%;
  width: 100%;
  position: relative;
}

.first-slider .swiper {
  height: 100%;
}

.first-slider .swiper-slide {
  position: relative;
}

.first-slider .swiper-slide img {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.first-slider .swiper-slide .slide-content {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.first-slider .swiper-slide .slide-content--bg {
  position: absolute;
  right: 5rem;
  bottom: 10rem;
  background-color: #aaa;
  padding: 1.5rem 8rem;
  width: 30rem;
  display: -ms-grid;
  display: grid;
  -webkit-clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0 100%);
          clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0 100%);
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  -webkit-transform: translate(7.5%, -50%);
          transform: translate(7.5%, -50%);
  opacity: 0;
}

.first-slider .swiper-slide .slide-content h3 {
  position: relative;
  color: #fff;
}

.first-slider .swiper-slide .slide-content a {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.first-slider .swiper-slide-active .slide-content--bg {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.first-slider .swiper-navigation {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-slider .swiper-pagination {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}

.first-slider .swiper-pagination-bullet {
  height: 0.8rem;
  width: 0.8rem;
  border: 0.1rem solid #fff;
  margin: 0 !important;
}

.first-slider .swiper-pagination-bullet-active {
  background-color: #F9E120;
  border: none;
}

.first-slider .swiper-button-next, .first-slider .swiper-button-prev {
  position: relative;
  width: auto;
  padding: 0 0.8rem;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  color: #F9E120;
  margin: 0 !important;
}

.first-slider .swiper-button-next::after, .first-slider .swiper-button-prev::after {
  font-size: 1.5rem;
}

.hidden {
  padding: 0;
  height: 0;
  border: none;
  overflow: hidden;
}

.second {
  height: 100vh;
  width: 100%;
  background-color: gray;
}

.third {
  height: 100vh;
  width: 100%;
  background-color: #B0251E;
}

.fourth {
  height: 100vh;
  width: 100%;
  background-color: #5E5E5E;
}
/*# sourceMappingURL=styles.css.map */