@import '_base_styles.scss';

$menu_height: 4rem;
$page_padding: 15%;
$darkgray: #5E5E5E;
$yellow: #F9E120;
$darkred: #B0251E;
$red: #E63C24;

@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/Cuprum-VariableFont_wght.ttf');
}

body {
    font-family: 'Cuprum';
    margin: 0;
    background-color: #fff;
}

h1 {
    text-align: center;
}

header {
    background: none;
    position: sticky;
    top: 0;
    height: fit-content;
    z-index: 10;
    transition: all 0.2s ease;
}

.bc-menu-hor,
.bc-menu-ver,
.bc-button {
    border: none;
    border-radius: 0;
}

.bc-button {
    font-size: 1rem;
    padding: 0.5em;
    background-color: $yellow;    
    
    &:active {
        background-color: #fff;
        color: $gray;
    }
}

.top {
    height: $menu_height;
    width: 100%;
    justify-content: space-between;
    border: none;
    padding: 0;
    padding-left: $page_padding;
    padding-right: $page_padding;
    color: #fff;
    
    &-menu {
        gap: 0.1em;
        list-style-type: none;
        padding: 0;

        li {
            padding: 0;
        }

        &-item {
            padding: 0.5em 0.7em;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            color: #fff;
            text-shadow: 0 0 0.1rem #000;            
            transition: border-width 0s;

            &:hover {
                color: $yellow;
            }

            &--active {
                color: $yellow;
                border: 0.1em solid $yellow;                
            }
        }
    }

    &-phone {
        
        &-number {
            color: #fff;
            text-shadow: 0 0 0.2rem #000;
        }
    }
}

.workhours {    
    height: 2rem;
    padding: 0;
    width: 100%;
    transition: all 0.2s ease;    
}

.page_nav {
    padding: 0;
    position: fixed;
    width: 10rem;
    top: 50%;
    transform: translateY(-50%);
    left: 3rem;
    z-index: 2;
    color: #fff;   
    
    ul {
        padding: 0;
        margin: 0;
        opacity: 0.8;

        li {
            position: relative;
            padding: 0;
            margin: 0;
            list-style-type: none;
            width: fit-content;
            margin: 3rem 0;
            cursor: pointer;

            img {
                height: 2rem;
                filter: brightness(100) saturate(100%);
                pointer-events: none;
                user-select: none;
            }

            &:not(:last-of-type):after {
                content: '';
                position: absolute;
                height: 3.5rem;
                top: 95%;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                border-left: 0.25rem dotted;
                pointer-events: none;
                user-select: none; 
            }
        }
        
        .active {

            img {
                filter: brightness(0) saturate(100%) invert(82%) sepia(66%) saturate(924%) hue-rotate(340deg) brightness(111%) contrast(95%);
            }
        }
    }
}

.first {
    margin-top: -(2rem+$menu_height);
    padding: 0;    
    height: 100vh;

    &-slider {
        height: 100%;
        width: 100%;
        position: relative;

        .swiper {
            height: 100%;

            &-slide {
                position: relative;                

                img {
                    position: absolute;
                    top: 0;
                    height: 100%;                   
                    left: 0;
                    width: 100%;                    
                    object-position: center;
                    object-fit: cover;
                    filter: brightness(0.7);
                }

                .slide-content {
                    height: 100%;
                    width: 100%;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    &--bg {
                        position: absolute;
                        right: 5rem;
                        bottom: 10rem;
                        background-color: $gray;
                        padding: 1.5rem 8rem;                        
                        width: 30rem;
                        display: grid;
                        clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0 100%);
                        transition: all 1.5s ease;
                        transform: translate(7.5%, -50%);
                        opacity: 0;
                    }

                    h3 {
                        position: relative;                        
                        color: #fff;
                    }
    
                    a {
                        position: relative;                    
                        height: fit-content;
                        width: fit-content;
                    }
                }

                &-active {

                    .slide-content {

                        &--bg {
                            opacity: 1;
                            transform: none;
                        }
                    }
                }
            }

            &-navigation {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 5;
                bottom: 2rem;
                display: flex;                
                justify-content: center;
                align-items: center;
            }

            &-pagination {
                width: fit-content;
                position: relative;
                top: auto;
                bottom: auto;
                left: auto;
                right: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.8rem;

                &-bullet {
                    height: 0.8rem;
                    width: 0.8rem;
                    border: 0.1rem solid #fff;
                    margin: 0 !important;
                }
    
                &-bullet-active {
                    background-color: $yellow;
                    border: none;
                }
            }

            &-button-next,
            &-button-prev {              
                position: relative;
                width: auto;
                padding: 0 0.8rem;
                top: auto;
                bottom: auto;
                left: auto;
                right: auto;
                color: $yellow;
                margin: 0 !important;
                
                &::after {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.hidden {
    padding: 0;
    height: 0;
    border: none;
    overflow: hidden;
}

.second {
    height: 100vh;
    width: 100%;
    background-color: gray;
}
.third {
    height: 100vh;
    width: 100%;
    background-color: $darkred;
}
.fourth {
    height: 100vh;
    width: 100%;
    background-color: $darkgray;
}

// .carousel {
//     display: grid;
//     padding: 5rem 7%;
// }

// .carousel-slider {
//     display: grid;
//     grid-column: 1/2;
//     height: 30rem;
//     width: 40rem;
//     position: relative;
//     margin: 0 auto;    
// }

// .carousel-pagination {
//     display: flex;
//     flex-wrap: wrap;
//     height: fit-content;
//     width: 20rem;
//     grid-column: 2/3;
//     gap: 0.4rem;
//     margin: 0 auto;

//     div {        
//         height: 4.5rem;
//         width: 6rem;
//         cursor: pointer;
//         user-select: none;
//     }
    
//     img {
//         height: 100%;
//         width: 100%;
//         object-fit: cover;
//         pointer-events: none;
//     }
// }

// .active-pag {
//     outline: 0.2rem solid lightskyblue;
// }

// .swiper { 
//     height: 100%;
//     width: 100%;           
// }       

// .swiper-slide {                      
//     position: relative;
//     cursor: grab;
// }

// .swiper-slide:active {
//     cursor: grabbing;
// }

// .swiper-button-next,
// .swiper-button-prev {
//     color: lightskyblue;
// }

// .slide-bg {
//     position: absolute;
//     background-position: center;
//     background-size: 150%;
//     filter: blur(0.3rem) brightness(0.9);
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
// }        

// .swiper-slide img {
//     height: 100%;
//     width: 100%;

//     pointer-events: none;
//     user-select: none;
    
//     object-fit: contain;
//     position: relative;
// }

// .swiper-pagination-bullets {            
//     position: relative;
//     top: 0;
//     display: flex;
//     gap: 0.5rem;
//     justify-content: center;
//     flex-wrap: wrap;
// }

// .swiper-pagination-bullet {
//     flex-shrink: 0;
//     height: 5rem;            
//     width: 8rem;
//     margin: 0 !important;
    
//     opacity: 1;
//     border-radius: 0.5em;
//     user-select: none;
// }

// .swiper-pagination-bullet img {
//     height: 100%;
//     width: 100%;
//     object-fit: cover;
//     pointer-events: none;
// }

// .swiper-pagination-bullet-active {
//     opacity: 0.5;
// }