$text-color: #ffffff;
$base-color: #df0000;
$accent-color: #ffdc00;
$accent-color-hover: #ccb100;
$base-black: #000000;
$base-gray: #808080;
$base-gray-tr: rgba(128, 128, 128, 0.8);
$secondary-gray: #333333;