@import 'colors', 'reset';

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: $text-color;

  background-color: #333333;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.main-header {
  background-color:#333333;
  border-bottom: 1px solid $text-color;
}

nav.navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1rem;
  align-items: center;
}

a.navigation-logo {
  cursor: pointer;
}

.navigation-logo {
  width: 160px;
  height: 65px;
}

.main-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

.main-header img:hover,
.main-header img:focus {
  color: $accent-color;
  opacity: 0.5;
}

.submenu-item {
  position: absolute;
    padding: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 3px;
    top: 100%;
    width: 25rem;
    background-color: #fff;
    box-shadow: 0 0.15rem 0.15rem rgb(36 36 36 / 30%);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.submenu:hover {
  color: #FFD84E;
}

.submenu:hover
.submenu-item {
  padding: 0.5rem 1rem;
  opacity: 1;
  height: auto;
}

.main-header img:active {
  opacity: 0.5;
}

.main-header a:hover,
.main-header a:focus {
  color: $accent-color;
}

.main-header a:active {
  opacity: 0.5;
}

.main-hero {
  object-fit: contain;
}

.swiper {
  position: relative;
  top: -100px;
  width: 400px;
  height: 150px;
  border-radius: 5px;
}

.achievements {
  display: flex;
}