@import 'colors', 'reset';

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: $text-color;

  background-color: #333333;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

// .section-header {
//   text-align: center;
//   font-size: 45px;
//   line-height: 45px;
//   margin-bottom: 2rem;
// }

.main-header {
  background:$secondary-gray;
  border-bottom: 1px solid $accent-color;
  position:fixed;
  left:0;right:0;top:0;
  z-index:1000;
}

nav.navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1rem;
  align-items: center;
  font-weight: 500;
}

a.navigation-logo {
  cursor: pointer;
}

.navigation-logo {
  width: 160px;
  height: 65px;
}

.navigation-logo:hover {
  fill: $accent-color;
}

.main-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

.user-navigation .button {
  padding: 0.5rem 1rem;
}

.main-header img:hover,
.main-header img:focus {
  opacity: 0.5;
  cursor: pointer;
}

.submenu-item {
  position: absolute;
    padding: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 3px;
    top: 100%;
    width: 25rem;
    background-color: $base-gray;
    box-shadow: 0 0.15rem 0.15rem rgb(36 36 36 / 30%);
}

.submenu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.submenu:hover {
  color: #FFD84E;
}

.dropdown-content a:hover {
  display: block;
}

.navigation-logo img:active {
  opacity: 0.5;
}

.navigation-list a:hover,
.navigation-list a:focus {
  color: $accent-color;
}

.navigation-list a:active {
  opacity: 0.5;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
    font: inherit;
    font-weight: 500;
    line-height: 18px;
    vertical-align: middle;
    text-align: center;
    color: $base-black;
    text-transform: uppercase;
    background-color: $accent-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
  color: $base-black;
  background-color: $accent-color-hover;
}

.button:active {
  opacity: 0.5;
}

// .main-hero {
//   padding-top: 3rem;
//   background:linear-gradient(rgba(0,0,0,0.450),rgba(0, 0, 0, 0.25)),  url("../../img/dmitrii/AdobeStock_193600390.5f4d4b6aa741d.5f4d4ba7ece2e.5f4d4cad246d9.png") no-repeat center / cover;
//   width:100%;
//   height: 100vh;
//   margin-bottom: 2rem;
// }
.main-hero {
  margin-bottom: 5rem;
}

.inner-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-wrapper {
  position: relative;
  text-align: left;
}

.slide-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $base-gray-tr;
  padding: 2rem;
  border-radius: 5px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
}

.slide-title {
  font-weight: 600;
  font-size: 55px;
  line-height: 55px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.slide-description {
  font-size: 30px;
  margin-bottom: 2rem;
}

.achievements {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

.achievements-item {
  width: 15rem;
  padding: 1rem;
  margin-right: 1rem;
}

.achievements-item:nth-child(1)::before {
  content: url(../../dmitrii/icons/user-group.svg);
}

.achievements-item:nth-child(2)::before {
  content: url(../../dmitrii/icons/chart-bar.svg);
}

.achievements-item:nth-child(3)::before {
  content: url(../../dmitrii/icons/wrench.svg);
}

.achievements-item:hover {
  background-color: $base-gray;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.3s ease;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

.catalog-item {
  padding: 1rem;
  width: 15rem;
  margin-right: 1rem;
}

.catalog-item img {
  border-radius: 5px;
  margin-bottom: 1rem;
}

.catalog-item:hover {
  background-color: $base-gray;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.961) 0px 50px 100px -20px, rgba(0, 0, 0, 0.976) 0px 30px 60px -30px;
  transition: all 0.3s ease;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

.benefits-item {
  padding: 1rem;
  width: 15rem;
  margin-right: 1rem;
}

.benefits-item img {
  border-radius: 5px;
  margin-bottom: 1rem;
}

.benefits-item:hover {
  background-color: $base-gray;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.3s ease;
}

footer {
  background-color: #333333;
  border-top: 1px solid $accent-color;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 2rem;
  align-items: center;
}

.footer-menu {
  list-style: none;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

