/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #ffffff;
  background-color: #333333;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #333333;
}

nav.navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1rem;
  align-items: center;
}

a.navigation-logo {
  cursor: pointer;
}

.navigation-logo {
  width: 160px;
  height: 65px;
}

.navigation-logo:hover {
  fill: #ffdc00;
}

.main-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

.main-header img:hover,
.main-header img:focus {
  stroke: #ffdc00;
  opacity: 0.5;
}

.submenu-item {
  position: absolute;
  padding: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 3px;
  top: 100%;
  width: 25rem;
  background-color: #808080;
  box-shadow: 0 0.15rem 0.15rem rgba(36, 36, 36, 0.3);
}

.submenu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.submenu:hover {
  color: #FFD84E;
}

.dropdown-content a:hover {
  display: block;
}

.main-header img:active {
  opacity: 0.5;
}

.main-header a:hover,
.main-header a:focus {
  color: #ffdc00;
}

.main-header a:active {
  opacity: 0.5;
}

.inner-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 500px;
  margin-bottom: 2rem;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.achievements {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.achievements-item {
  width: 15rem;
  padding: 1rem;
  margin-right: 1rem;
}

.achievements-item:nth-child(1)::before {
  content: url(../../dmitrii/icons/user-group.svg);
}

.achievements-item:nth-child(2)::before {
  content: url(../../dmitrii/icons/chart-bar.svg);
}

.achievements-item:nth-child(3)::before {
  content: url(../../dmitrii/icons/wrench.svg);
}

.achievements-item:hover {
  background-color: #808080;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.3s ease;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.catalog-item {
  padding: 1rem;
  width: 15rem;
  margin-right: 1rem;
}

.catalog-item img {
  border-radius: 5px;
  margin-bottom: 1rem;
}

.catalog-item:hover {
  background-color: #808080;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.961) 0px 50px 100px -20px, rgba(0, 0, 0, 0.976) 0px 30px 60px -30px;
  transition: all 0.3s ease;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.benefits-item {
  padding: 1rem;
  width: 15rem;
  margin-right: 1rem;
}

.benefits-item img {
  border-radius: 5px;
  margin-bottom: 1rem;
}

.benefits-item:hover {
  background-color: #808080;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.3s ease;
}

footer {
  background-color: white;
  height: 10rem;
}/*# sourceMappingURL=style-v1.css.map */