@import 'colors', 'reset';

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: $text-color;

  background-color: #333333;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  background-color:#333333;
  border-bottom: 1px solid $text-color;
}

nav.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

a.navigation-logo {
}

.main-navigation {
  display: flex;
  padding-top: 49px;
}

.main-header .header-logo {
  width: 160px;
  height: 65px;
}

.main-header ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

ul.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 840px;
}

.main-header img:hover,
.main-header img:focus {
  color: $accent-color;
}

.main-header img:active {
  opacity: 0.5;
}

.main-header a:hover,
.main-header a:focus {
  color: $accent-color;
}

.main-header a:active {
  opacity: 0.5;
}