// Global variables
:root {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    --red: #d44128;
    --turquoise: #3cd1c5;
    --gray: #878787;
    --yellow: #f7ce24;
    --text_color: #252525;
    --bg_red: #ffeaea;
    --bg_turquoise: #e0f9f7;
    --bg_gray: #f0f0f0;
    --bg_yellow: #fff8d3;
    --bg_red_trl: rgba(255, 234, 234, 0.8);
    --bg_turquoise_trl: rgba(224, 249, 247, 0.8);
    --bg_gray_trl: rgba(240, 240, 240, 0.8);
    --bg_yellow_trl: rgba(255, 248, 211, 0.8);
    --1bx: 6rem;
    @for $i from 2 through 12 {
    --#{$i}bx: calc(#{$i} * var(--1bx) + #{$i - 1} * 1rem);
    }
    --bradout: calc(1.4 * 1rem);
    --bradin: 0.9rem;
    --bradbig: calc(1.8 * var(--bradout) - 2px);
    color: var(--text_color);
}

// Utility classes
.boxgrid {
    --col_start: auto;
    --row_start: auto;
    display: grid;
    max-width: var(--12bx);
    gap: 1rem;
    grid-auto-flow: row dense;
    grid-auto-rows: var(--1bx);
    grid-template-columns: repeat(12, var(--1bx));
}

.box {
    height: 100%;
    width: 100%;
    grid-column: span 1;
    grid-row: span 1;
    border-radius: var(--bradout);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

[data-bg='white'] {
    background-color: #fff !important;
}

[data-bg='red'] {
    background-color: var(--bg_red) !important;
}

[data-bg='turquoise'] {
    background-color: var(--bg_turquoise) !important;
}

[data-bg='gray'] {
    background-color: var(--bg_gray) !important;
}

[data-bg='yellow'] {
    background-color: var(--bg_yellow) !important;
}

[data-bg='white translucent'] {
    background-color: rgba(#fff, 0.7) !important;
}

[data-bg='red translucent'] {
    background-color: var(--bg_red_trl) !important;
}

[data-bg='turquoise translucent'] {
    background-color: var(--bg_turquoise_trl) !important;
}

[data-bg='gray translucent'] {
    background-color: var(--bg_gray_trl) !important;
}

[data-bg='yellow translucent'] {
    background-color: var(--bg_yellow_trl) !important;
}

.hover3d {
    transition: all 0.2s ease;

    &:hover {
        margin-top: -3px;
        box-shadow: 0 3px 6px rgba(#000000, 0.2);
    }
}

@for $i from -1 through 12 {
    .col_#{$i} {
        --col_start: #{$i};
    }
    .row_#{$i} {
        --row_start: #{$i};
    }
}

@for $i from 2 through 12 {
    .w_#{$i} {
        grid-column: var(--col_start) / span #{$i};
    }
    .h_#{$i} {
        grid-row: var(--row_start) / span #{$i};
    }    
}

@media (max-width: 1400px) {
    :root {
        font-size: 0.9rem;
    }
}

@media (max-width: 1200px) {
    :root {
        font-size: 0.8rem;
    }
}

@media (max-width: 1000px) {
    :root {
        font-size: 0.7rem;
    }
}
