// Global variables
:root {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    --red: #d44128;
    --turquoise: #3cd1c5;
    --gray: #838383;
    --yellow: #f7ce24;
    --text_color: #252525;
    // --bg_red: #ffecf5;
    --bg_turquoise: #d3f7f4;
    --bg_gray: #e8e8f5;
    --1bx: clamp(4rem, 6.5vw, 6.5rem);
    @for $i from 2 through 12 {
        --#{$i}bx: calc(#{$i} * var(--1bx) + #{$i - 1} * 1rem);
    }
    --bradout: calc(1.4 * 1rem);
    --bradin: 0.9rem;
    --bradbig: calc(1.8 * var(--bradout) - 2px);
    color: var(--text_color);
}

// Utility classes
.boxgrid {
    --col_start: auto;
    --row_start: auto;
    display: grid;
    max-width: var(--12bx);
    gap: 1rem;
    grid-auto-flow: row dense;
    grid-auto-rows: var(--1bx);
    grid-template-columns: repeat(12, var(--1bx));
}

.hoverline {
    text-decoration: underline 0.1rem transparent;
    transition: all 0.3s ease;

    &:hover {
        text-decoration-color: var(--turquoise);
    }
}

.box {
    height: 100%;
    width: 100%;
    grid-column: span 1;
    grid-row: span 1;
    border-radius: var(--bradout);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

[data-bg="white"] {
    background-color: #fff !important;
}

[data-bg="turquoise"] {
    background-color: var(--bg_turquoise) !important;
}

[data-bg="gray"] {
    background-color: var(--bg_gray) !important;
}

[data-bg="black"] {
    background-color: var(--bg_gray) !important;
}

[data-bg='black'] {
    background-color: var(--bg_gray) !important;
}

.hover3d {
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 3px 6px rgba(#000000, 0.2);
    }
}

@for $i from -1 through 12 {
    .col_#{$i} {
        --col_start: #{$i};
    }
    .row_#{$i} {
        --row_start: #{$i};
    }
}

@for $i from 2 through 12 {
    .w_#{$i} {
        grid-column: var(--col_start) / span #{$i};
    }
    .h_#{$i} {
        grid-row: var(--row_start) / span #{$i};
    }
}

@media (max-width: 1350px) {
    :root {
        font-size: 14px;
    }
}

// @media (max-width: 1200px) {
//     :root {
//         font-size: 12px;
//     }
// }
