@import "_reset";
@import "_varsutils";

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background-color: #fff;
}

.hwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--halfbx);
}

h2 {
    font-size: calc(2.5 * var(--basesize));
    line-height: 1.1em;
    font-weight: 400;
    text-align: center;
}

a {
    text-decoration: none;
    transition: all 0.2s ease;

    &:visited {
        color: inherit;
    }
}

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

header {
    position: relative;
    height: calc(3 * var(--basesize) + var(--halfbx));
    width: 100%;
    max-width: var(--6bx);
    background-color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    z-index: 10;
    transition: all 0.2s ease;

    .clip-left {
        position: absolute;
        top: calc(3 * var(--basesize));
        right: calc(100% + var(--bigrad));
        background-color: #fff;
        height: var(--bigrad);
        width: var(--bigrad);
        -webkit-mask-size: cover;
        mask-size: cover;
        -webkit-mask-image: radial-gradient(
            circle var(--bigrad) at 0 100%,
            #0000 99%,
            #fff
        );
        mask-image: radial-gradient(
            circle var(--bigrad) at 0 100%,
            #0000 99%,
            #fff
        );
    }

    .clip-right {
        position: absolute;
        top: calc(3 * var(--basesize));
        left: calc(100% + var(--bigrad));
        background-color: #fff;
        height: var(--bigrad);
        width: var(--bigrad);
        -webkit-mask-size: cover;
        mask-size: cover;
        -webkit-mask-image: radial-gradient(
            circle var(--bigrad) at 100% 100%,
            #0000 99%,
            #fff
        );
        mask-image: radial-gradient(
            circle var(--bigrad) at 100% 100%,
            #0000 99%,
            #fff
        );
    }

    .round-left {
        position: absolute;
        top: calc(3 * var(--basesize));
        right: 100%;
        background-color: #fff;
        height: var(--halfbx);
        width: var(--bigrad);
        border-bottom-left-radius: var(--bigrad);
    }

    .round-right {
        position: absolute;
        top: calc(3 * var(--basesize));
        left: 100%;
        background-color: #fff;
        height: var(--halfbx);
        width: var(--bigrad);
        border-bottom-right-radius: var(--bigrad);
    }
}

header[data-scrolled] {
    box-shadow: rgba(0, 0, 0, 0.2) 0 0.2rem 0.3rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

header img {
    z-index: 9;
}

.nav-wrapper {
    padding-top: calc(1 * var(--basesize));
    max-width: var(--6bx);
    width: 95vw;
}

.top-nav a:first-of-type {
    margin-right: auto;
}

.top-nav a:last-of-type {
    margin-left: auto;
}

.logo img {
    width: 300px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1.5px solid var(--cl_main);
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.nav-list li a {
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    span {
        transition: all 0.2s ease;
    }

    &:hover {
        color: var(--cl_main);

        span {
            color: var(--cl_main);
            transform: rotate(-11deg);
            transition: transform .2s ease-out;
        }
    }
}

.nav-list li:last-child {
    border: none;
}

/* sub navigation */

.sub-nav-list {
    display: flex;
    flex-direction: row;
    // align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border-top: 1.5px solid var(--cl_main);
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dropdown {
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.2s ease 0s, visibility 0s linear 0.2s,
        z-index 0s linear 0.01s;
}

.submenu-item:hover {
    color: var(--main_color);
}

.submenu-item:hover > .dropdown {
    z-index: inherit;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s, 0.2s;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown li {
    padding: 0.5rem 2rem;
    color: black;
}

.dropdown li:hover {
    color: var(--main_color);
    background-color: rgba(170, 170, 170, 0.274);
}

b {
    font-weight: 700;
}

// hero section

.hero {
    margin-top: calc(0rem - var(--halfbx));
    width: 100%;
    background-color: var(--cl_bxbgaccent);

    .swiper {
        height: calc(var(--2bx) + var(--halfbx));
        align-self: end;
    }

    .swiper-slide img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    h1 {
        height: calc(var(--1bx) + var(--halfbx));
        align-self: end;
        text-align: center;
        font-weight: 400;
        font-size: calc(3 * var(--basesize));
    }

    .call-to-action {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        gap: 1rem;

        p {
            text-align: left;
            line-height: 1.3rem;
        }
    }
}

.basic-btn {
    font-family: inherit;
    font-size: 1.1rem;
    line-height: 1em;
    vertical-align: middle;
    text-decoration: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    background-color: var(--cl_main);
    padding: 0.6em 1em;
    border: 2px solid var(--cl_main);
    border-radius: var(--bradout);
}

.basic-btn[data-btn-anchor] {
    background-color: transparent;
    border-color: var(--cl_accent);
    color: var(--cl_accent);
    font-weight: 600;
}

// gray section divider

.accent-box {
    height: calc(var(--basesize) + var(--halfbx));
    width: 100%;
    background-color: var(--cl_bxbgaccent);
    margin-bottom: calc(0rem - var(--halfbx));
    display: flex;
    justify-content: center;

    &-inner {
        position: relative;
        width: var(--6bx);

        .clip-left {
            position: absolute;
            bottom: 0;
            right: calc(100% + var(--bigrad));
            background-color: #fff;
            height: var(--bigrad);
            width: var(--bigrad);
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-image: radial-gradient(
                circle var(--bigrad) at 0 0,
                #0000 99%,
                #fff
            );
            mask-image: radial-gradient(
                circle var(--bigrad) at 0 0,
                #0000 99%,
                #fff
            );
        }

        .clip-right {
            position: absolute;
            bottom: 0;
            left: calc(100% + var(--bigrad));
            background-color: #fff;
            height: var(--bigrad);
            width: var(--bigrad);
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-image: radial-gradient(
                circle var(--bigrad) at 100% 0,
                #0000 99%,
                #fff
            );
            mask-image: radial-gradient(
                circle var(--bigrad) at 100% 0,
                #0000 99%,
                #fff
            );
        }

        .round-left {
            position: absolute;
            bottom: 0;
            right: 100%;
            background-color: #fff;
            height: var(--halfbx);
            width: var(--bigrad);
            border-top-left-radius: var(--bigrad);
        }

        .round-right {
            position: absolute;
            bottom: 0;
            left: 100%;
            background-color: #fff;
            height: var(--halfbx);
            width: var(--bigrad);
            border-top-right-radius: var(--bigrad);
        }
    }
}

// stats section

.merits {
    padding-top: var(--basesize);
}

.stats {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.stats h2 {
    font-size: 2rem;
    font-weight: bold;
}

.stats-item {
    display: flex;
    align-items: center;
}

.stats-item img {
    height: 4rem;
    width: 4rem;
    padding: 0.5rem;
    background-color: #b82c23;
    border-radius: 1rem;
    margin-right: 1rem;
}

.stats-item:nth-child(2) img {
    background-color: #00c5c0;
}

.stats-item:nth-child(3) img {
    background-color: var(--cl_yellow);
}

.big-number {
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid var(--cl_yellow);
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
}

.stats-description {
    width: 8rem;
}

.cards-test {
    display: grid;
    padding-top: 1rem;
    grid-template-columns: repeat(6, var(--1bx));
    gap: 1rem;
}

.card {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: var(--bradout);
    height: var(--1bx);
    width: var(--1bx);
    background-color: var(--cl_bxbggray);

    &:nth-of-type(3n - 1) {
        background-color: var(--cl_bxbgaccent);
    }
    &:nth-of-type(3n) {
        background-color: var(--cl_bxbgmain);
    }

    &-inner {
        height: 100%;
        width: 100%;
        font-size: 0.7rem;
        text-align: justify;
        object-fit: cover;
        border-radius: var(--bradin);
    }
}

.grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.big {
    grid-column: -3 / span 2;
    grid-row: 1 / span 2;
}

.card-2w {
    grid-column: span 2;
    width: var(--2bx);

    h2 {
        text-align: center;
        font-size: 3rem;
        font-weight: 300;

        span {
            font-weight: 600;
        }
    }
}

.card-2h {
    grid-row: span 2;
    height: var(--2bx);
}

.card-trans {
    background-color: transparent;
}

// catalog

.catalog-box {
    .box {
        background-color: var(--cl_bxbgaccent);
    }
}

table.specs {
    border-collapse: separate;

    th {
        text-align: left;
        font-weight: bold;
    }
}

.catalog-item {
    gap: 0;

    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.2rem;
        padding: 1rem;
        font-size: 1rem;

        .user-buttons {
            display: flex;
            font-size: 1.1rem;
            gap: 0.3rem;
            justify-content: end;

            .item-name {
                font-size: 1.2rem;
                font-weight: 700;
                margin-right: auto;
                color: var(--cltext);
            }

            a {
                &.icon {
                    color: var(--cl_gray);
                }

                &:hover {
                    color: var(--cl_accent);
                    text-shadow: 0 0 1px currentColor;
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
        }

        .basic-btn {
            font-size: 0.9rem;
            line-height: 1em;
            padding: 0.5em 0.7em;
        }

        .tag-buttons a {
            font-size: 0.7rem;
            font-weight: 500;
            background-color: var(--cl_yellow);
            padding: 0.1rem 0.3rem;
            border-radius: 0.2rem;
        }
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: var(--bradout);
    }
}

// Benefits

.white-box {
    position: relative;
    height: var(--halfbx);
    display: flex;

    .clip-left {
        position: absolute;
        top: 0;
        right: calc(100% + var(--bigrad));
        background-color: #fff;
        height: var(--bigrad);
        width: var(--bigrad);
        -webkit-mask-size: cover;
        mask-size: cover;
        -webkit-mask-image: radial-gradient(
            circle var(--bigrad) at 0 100%,
            #0000 99%,
            #fff
        );
        mask-image: radial-gradient(
            circle var(--bigrad) at 0 100%,
            #0000 99%,
            #fff
        );
    }

    .clip-right {
        position: absolute;
        top: 0;
        left: calc(100% + var(--bigrad));
        background-color: #fff;
        height: var(--bigrad);
        width: var(--bigrad);
        -webkit-mask-size: cover;
        mask-size: cover;
        -webkit-mask-image: radial-gradient(
            circle var(--bigrad) at 100% 100%,
            #0000 99%,
            #fff
        );
        mask-image: radial-gradient(
            circle var(--bigrad) at 100% 100%,
            #0000 99%,
            #fff
        );
    }

    .round-left {
        position: absolute;
        top: 0;
        right: 100%;
        background-color: #fff;
        height: var(--halfbx);
        width: var(--bigrad);
        border-bottom-left-radius: var(--bigrad);
    }

    .round-right {
        position: absolute;
        top: 0;
        left: 100%;
        background-color: #fff;
        height: var(--halfbx);
        width: var(--bigrad);
        border-bottom-right-radius: var(--bigrad);
    }
}

.benefits {
    position: relative;
    max-width: none;
    width: 100%;
    z-index: 0;
    margin-top: calc(0rem - var(--halfbx));
    padding-top: var(--halfbx);

    * {
        z-index: 1;
    }
}

// video-channel

.videogallery {
    background-color: transparent;
    // position: relative;
    // margin-top: calc(0rem - var(--halfbx));
    // padding-top: var(--halfbx);
    // background: url("/img/overlay_tv.png") no-repeat;
    // background-size: cover;                 
    // background-repeat: no-repeat;
    // background-position: center center;   

    .boxgrid {
        grid-auto-rows: auto;
    }
}

.video-item {
    height: calc(var(--1bx) + var(--halfbx));
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.2s ease;
        filter: brightness(0.6);
        border-radius: var(--bradout);
    }

    .video-description-wrapper {
        color: white;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.2rem;

        h4 {
            font-size: 3em;
            font-weight: 500;
            text-transform: uppercase;
        }

        .date {
            font-size: 1em;
        }

        .description {
            font-size: 2em;
        }


    }

    &:hover img {
        transition: all 0.2s ease;
        filter: brightness(1);
    }

    &:hover .video-description-wrapper {
        display: none;
        transition: all 0.2s ease;
    }

    &:hover .play-button {
        display: block;
        transition: all 0.2s ease;
    }

    .play-button {
        display: none;
        position: absolute;
        overflow: hidden;
        color: var(--cl_main);
        font-size: 4em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease;
    }

}

// about us

// video {
//     position: absolute;
//     top: 0;
//     left: 0;
//   }

.about-us {

    width: 100%;

    .video-wrapper {
        width: 100%;
    }
}
