html {
  box-sizing: border-box;
  -webkit-text-size-adjust: none !important;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  font-family: "Jura", sans-serif;
  font-weight: 400;
  --cl_main: #b82d23;
  --cl_accent: #00c5c0;
  --cl_gray: #878787;
  --cl_text: #3a3a3a;
  --cl_bxbgmain: #fff2f1;
  --cl_bxbgaccent: #e2f5f4;
  --cl_bxbggray: #eeeeee;
  --cl_bxtext: #252525;
  --gap: 1rem;
  --halfbx: 6.25rem;
  --1bx: 12.5rem;
  --2bx: calc(25rem + var(--gap));
  --3bx: calc(37.5rem + 2 * var(--gap));
  --4bx: calc(50rem + 3 * var(--gap));
  --5bx: calc(62.5rem + 4 * var(--gap));
  --6bx: calc(75rem + 5 * var(--gap));
  --bradout: 1.5rem;
  --bradin: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section {
  max-width: 1280px;
  width: 95vw;
}

.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
}

header {
  position: sticky;
  top: 0;
  height: var(--halfbx);
  max-width: 1280px;
  width: 95vw;
  display: flex;
  justify-content: center;
  z-index: 10;
  transition: all 0.2s ease;
  background-color: white;
}

header[data-scrolled]{
  border-radius: 0 0 var(--bradout) var(--bradout);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.2rem 0.3rem;
}

header a {
  text-decoration: none;
  color: inherit;
}

header img {
  z-index: 9;
}

.nav-wrapper {
  max-width: 1280px;
  width: 95vw;
}

.top-nav a:first-of-type {
  margin-right: auto;
}

.top-nav a:last-of-type {
  margin-left: auto;
}

.logo img {
  height: 28px;
  width: 228px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1.5px solid #b82c23;
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-list li a {
  height: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-list li:last-child {
  border: none;
}

.icon {
  height: 1rem;
}

/* sub navigation */

.sub-nav-list {
  display: flex;
  flex-direction: row;
  // align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
  border-top: 1.5px solid rgba(184, 45, 35, 0.672);
  // border-bottom: 1px solid #b82c23;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dropdown {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.2s ease 0s, visibility 0s linear 0.2s,
    z-index 0s linear 0.01s;
}

.submenu-item:hover {
  color: var(--main_color);
}

.submenu-item:hover > .dropdown {
  z-index: inherit;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s, 0s, 0.2s;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown li {
  padding: 0.5rem 2rem;
  color: black;
}

.dropdown li:hover {
  color: var(--main_color);
  background-color: rgba(170, 170, 170, 0.274);
}

b {
  font-weight: 600;
}

// hero section

.hero {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

h1 {
  height: var(--1bx);
  width: var(--2bx);
  text-align: center;
  font-size: 3rem;
  grid-column: 2;
  grid-row: 1;
}

.call-to-action {
  background-color: var(--cl_bxbggray);
  height: var(--1bx);
  width: var(--2bx);
  padding: 1rem;
  border-radius: var(--bradout);
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  gap: 1rem;
}

.call-to-action p {
  text-align: left;
  line-height: 1.3rem;
}

.basic-btn {
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.1rem;
  line-height: 1.5em;
  vertical-align: middle;
  text-decoration: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  background-color: var(--cl_main);
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--cl_main);
  border-radius: var(--bradout);
}

.basic-btn[data-btn-anchor] {
  position: relative;
  background-color: transparent;
  border-color: var(--cl_accent);
  color: var(--cl_accent);
}

.basic-btn[data-btn-anchor]::after {
  content: "🠖";
  position: absolute;
  margin-left: 0.3rem;
}

.top-slider {
  grid-column: 1;
  grid-row: span 3;
}

.swiper {
  height: calc(var(--3bx) - var(--halfbx));
  width: var(--4bx);
  border-radius: var(--bradout);
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

//* stats section

.stats {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.stats h2 {
  font-size: 2rem;
  font-weight: bold;
}

.stats-item {
  display: flex;
  align-items: center;
}

.stats-item img {
  height: 4rem;
  width: 4rem;
  padding: 0.5rem;
  background-color: #b82c23;
  border-radius: 1rem;
  margin-right: 1rem;
}

.stats-item:nth-child(2) img {
  background-color: #00c5c0;
}

.stats-item:nth-child(3) img {
  background-color: orange;
}

.big-number {
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid orange;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}

.stats-description {
  width: 8rem;
}

.cards-test {
  display: grid;
  padding-top: 1rem;
  grid-template-columns: repeat(6, var(--1bx));
  gap: 1rem;
}

.card {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: var(--bradout);
  height: var(--1bx);
  width: var(--1bx);
  background-color: var(--cl_bxbggray);

  &:nth-of-type(3n - 1) {
    background-color: var(--cl_bxbgaccent);
  }
  &:nth-of-type(3n) {
    background-color: var(--cl_bxbgmain);
  }

  &-inner {
    height: 100%;
    width: 100%;
    font-size: 0.7rem;
    text-align: justify;
    object-fit: cover;
    border-radius: var(--bradin);
  }
}

.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.big {
  grid-column: -3/ span 2;
  grid-row: 1/ span 2;
}

.card-2w {
  grid-column: span 2;
  width: var(--2bx);

  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;

    span {
      font-weight: 600;
    }
  }
}

.card-2h {
  grid-row: span 2;
  height: var(--2bx);
}

.card-trans {
  background-color: transparent;
}