/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  font-family: "Sofia Sans", sans-serif;
  font-weight: 300;
  --cl_main: #d44128;
  --cl_accent: #3cd1c5;
  --cl_gray: #878787;
  --cl_yellow: #f7ce24;
  --cl_text: #3a3a3a;
  --cl_bxbgmain: #fff5f5;
  --cl_bxbgaccent: #edfaf9;
  --cl_bxbggray: #f2f2f2;
  --cl_bxbgyellow: #fffae3;
  --cl_bxtext: #252525;
  --basesize: 1rem;
  --1bx: calc(12.5 * var(--basesize));
  --halfbx: calc(0.5 * var(--1bx));
  --2bx: calc(2 * var(--1bx) + var(--basesize));
  --3bx: calc(3 * var(--1bx) + 2 * var(--basesize));
  --4bx: calc(4 * var(--1bx) + 3 * var(--basesize));
  --5bx: calc(5 * var(--1bx) + 4 * var(--basesize));
  --6bx: calc(6 * var(--1bx) + 5 * var(--basesize));
  --bradout: calc(1.5 * var(--basesize));
  --bradin: var(--basesize);
  transition: all 0.2s ease;
}

.boxgrid {
  display: grid;
  gap: var(--basesize);
  grid-auto-flow: row dense;
  grid-auto-rows: var(--1bx);
  grid-template-columns: repeat(6, var(--1bx));
}

.box {
  height: 100%;
  width: 100%;
  grid-column: span 1;
  grid-row: span 1;
  border-radius: var(--bradout);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: var(--cl_bxbggray);
  color: var(--cl_bxtext);
}
.box:nth-last-of-type(4n - 2) {
  background-color: var(--cl_bxbgmain);
}
.box:nth-last-of-type(4n - 1) {
  background-color: var(--cl_bxbgaccent);
}
.box:nth-last-of-type(4n) {
  background-color: var(--cl_bxbgyellow);
}

.bg_trsp {
  background-color: transparent;
}

.grh_2 {
  grid-row: span 2;
}

.grw_2 {
  grid-column: span 2;
}

.grh_3 {
  grid-row: span 3;
}

.grw_3 {
  grid-column: span 3;
}

.grh_4 {
  grid-row: span 4;
}

.grw_4 {
  grid-column: span 4;
}

.grh_5 {
  grid-row: span 5;
}

.grw_5 {
  grid-column: span 5;
}

.grh_6 {
  grid-row: span 6;
}

.grw_6 {
  grid-column: span 6;
}

.grh_7 {
  grid-row: span 7;
}

.grw_7 {
  grid-column: span 7;
}

.grh_8 {
  grid-row: span 8;
}

.grw_8 {
  grid-column: span 8;
}

.grh_9 {
  grid-row: span 9;
}

.grw_9 {
  grid-column: span 9;
}

.grh_10 {
  grid-row: span 10;
}

.grw_10 {
  grid-column: span 10;
}

.grh_11 {
  grid-row: span 11;
}

.grw_11 {
  grid-column: span 11;
}

.grh_12 {
  grid-row: span 12;
}

.grw_12 {
  grid-column: span 12;
}

.order_-12 {
  order: -12;
}

.order_-11 {
  order: -11;
}

.order_-10 {
  order: -10;
}

.order_-9 {
  order: -9;
}

.order_-8 {
  order: -8;
}

.order_-7 {
  order: -7;
}

.order_-6 {
  order: -6;
}

.order_-5 {
  order: -5;
}

.order_-4 {
  order: -4;
}

.order_-3 {
  order: -3;
}

.order_-2 {
  order: -2;
}

.order_-1 {
  order: -1;
}

.order_0 {
  order: 0;
}

.order_1 {
  order: 1;
}

.order_2 {
  order: 2;
}

.order_3 {
  order: 3;
}

.order_4 {
  order: 4;
}

.order_5 {
  order: 5;
}

.order_6 {
  order: 6;
}

.order_7 {
  order: 7;
}

.order_8 {
  order: 8;
}

.order_9 {
  order: 9;
}

.order_10 {
  order: 10;
}

.order_11 {
  order: 11;
}

.order_12 {
  order: 12;
}

.innergrid_2x1 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.innergrid_2x2 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.innergrid_2x3 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.innergrid_2x4 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.innergrid_2x5 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.innergrid_2x6 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.innergrid_2x7 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.innergrid_2x8 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.innergrid_2x9 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.innergrid_2x10 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.innergrid_2x11 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.innergrid_2x12 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.innergrid_3x1 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.innergrid_3x2 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.innergrid_3x3 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.innergrid_3x4 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.innergrid_3x5 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.innergrid_3x6 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.innergrid_3x7 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.innergrid_3x8 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.innergrid_3x9 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.innergrid_3x10 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.innergrid_3x11 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.innergrid_3x12 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.innergrid_4x1 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.innergrid_4x2 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.innergrid_4x3 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.innergrid_4x4 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.innergrid_4x5 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.innergrid_4x6 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.innergrid_4x7 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.innergrid_4x8 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.innergrid_4x9 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.innergrid_4x10 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.innergrid_4x11 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.innergrid_4x12 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.innergrid_5x1 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.innergrid_5x2 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.innergrid_5x3 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.innergrid_5x4 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.innergrid_5x5 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.innergrid_5x6 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.innergrid_5x7 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.innergrid_5x8 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.innergrid_5x9 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.innergrid_5x10 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.innergrid_5x11 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.innergrid_5x12 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.innergrid_6x1 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.innergrid_6x2 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.innergrid_6x3 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.innergrid_6x4 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.innergrid_6x5 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.innergrid_6x6 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.innergrid_6x7 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.innergrid_6x8 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.innergrid_6x9 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.innergrid_6x10 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.innergrid_6x11 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.innergrid_6x12 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.innergrid_7x1 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.innergrid_7x2 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.innergrid_7x3 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.innergrid_7x4 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.innergrid_7x5 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.innergrid_7x6 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.innergrid_7x7 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.innergrid_7x8 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.innergrid_7x9 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.innergrid_7x10 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.innergrid_7x11 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.innergrid_7x12 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.innergrid_8x1 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.innergrid_8x2 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.innergrid_8x3 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.innergrid_8x4 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.innergrid_8x5 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.innergrid_8x6 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.innergrid_8x7 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.innergrid_8x8 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.innergrid_8x9 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.innergrid_8x10 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.innergrid_8x11 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.innergrid_8x12 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.innergrid_9x1 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.innergrid_9x2 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.innergrid_9x3 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.innergrid_9x4 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.innergrid_9x5 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.innergrid_9x6 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.innergrid_9x7 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.innergrid_9x8 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.innergrid_9x9 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.innergrid_9x10 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.innergrid_9x11 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.innergrid_9x12 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.innergrid_10x1 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.innergrid_10x2 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.innergrid_10x3 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.innergrid_10x4 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.innergrid_10x5 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.innergrid_10x6 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.innergrid_10x7 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.innergrid_10x8 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.innergrid_10x9 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.innergrid_10x10 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.innergrid_10x11 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.innergrid_10x12 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.innergrid_11x1 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.innergrid_11x2 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.innergrid_11x3 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.innergrid_11x4 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.innergrid_11x5 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.innergrid_11x6 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.innergrid_11x7 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.innergrid_11x8 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.innergrid_11x9 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.innergrid_11x10 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.innergrid_11x11 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.innergrid_11x12 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.innergrid_12x1 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.innergrid_12x2 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.innergrid_12x3 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.innergrid_12x4 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.innergrid_12x5 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.innergrid_12x6 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.innergrid_12x7 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.innergrid_12x8 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.innergrid_12x9 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.innergrid_12x10 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.innergrid_12x11 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.innergrid_12x12 {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.inner {
  height: 100%;
  width: 100%;
  grid-column: span 1;
  grid-row: span 1;
}

@media (max-width: 1400px) {
  :root {
    font-size: 0.9rem;
  }
}
@media (max-width: 1200px) {
  :root {
    font-size: 0.8rem;
  }
}
@media (max-width: 1000px) {
  :root {
    font-size: 0.7rem;
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section {
  position: relative;
  z-index: 1;
  max-width: var(--6bx);
  background-color: #fff;
}

.hwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--halfbx);
}

h2 {
  font-size: calc(2.5 * var(--basesize));
  line-height: 1.1em;
  font-weight: 400;
  text-align: center;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
}
a:visited {
  color: inherit;
}

.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
}

header {
  position: sticky;
  top: 0;
  height: var(--halfbx);
  max-width: var(--6bx);
  display: flex;
  justify-content: center;
  z-index: 10;
  transition: all 0.2s ease;
  background-color: white;
}

header[data-scrolled] {
  border-radius: 0 0 var(--bradout) var(--bradout);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.2rem 0.3rem;
}

header a {
  text-decoration: none;
  color: inherit;
}

header img {
  z-index: 9;
}

.nav-wrapper {
  max-width: 1280px;
  width: 95vw;
}

.top-nav a:first-of-type {
  margin-right: auto;
}

.top-nav a:last-of-type {
  margin-left: auto;
}

.logo img {
  height: 28px;
  width: 228px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.nav-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1.5px solid #b82c23;
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-list li a {
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.nav-list li a span {
  transition: all 0.2s ease;
}
.nav-list li a:hover {
  color: var(--cl_main);
}
.nav-list li a:hover span {
  color: var(--cl_main);
}

.nav-list li:last-child {
  border: none;
}

/* sub navigation */
.sub-nav-list {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
  border-top: 1.5px solid rgba(184, 45, 35, 0.672);
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dropdown {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.2s ease 0s, visibility 0s linear 0.2s, z-index 0s linear 0.01s;
}

.submenu-item:hover {
  color: var(--main_color);
}

.submenu-item:hover > .dropdown {
  z-index: inherit;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s, 0s, 0.2s;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown li {
  padding: 0.5rem 2rem;
  color: black;
}

.dropdown li:hover {
  color: var(--main_color);
  background-color: rgba(170, 170, 170, 0.274);
}

b {
  font-weight: 700;
}

.hero {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

h1 {
  height: var(--1bx);
  width: var(--2bx);
  text-align: center;
  font-weight: 400;
  font-size: calc(3 * var(--basesize));
  grid-column: 2;
  grid-row: 1;
}

.call-to-action {
  background-color: var(--cl_bxbggray);
  height: var(--1bx);
  width: var(--2bx);
  padding: 1rem;
  border-radius: var(--bradout);
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  gap: 1rem;
}

.call-to-action p {
  text-align: left;
  line-height: 1.3rem;
}

.basic-btn {
  font-family: inherit;
  font-size: 1.1rem;
  line-height: 1em;
  vertical-align: middle;
  text-decoration: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  background-color: var(--cl_main);
  padding: 0.6em 1em;
  border: 2px solid var(--cl_main);
  border-radius: var(--bradout);
}

.basic-btn[data-btn-anchor] {
  background-color: transparent;
  border-color: var(--cl_accent);
  color: var(--cl_accent);
  font-weight: 600;
}

.top-slider {
  grid-column: 1;
  grid-row: span 3;
}

.swiper {
  height: calc(var(--3bx) - var(--halfbx));
  width: var(--4bx);
  border-radius: var(--bradout);
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.merits {
  padding-top: var(--basesize);
}

.stats {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.stats h2 {
  font-size: 2rem;
  font-weight: bold;
}

.stats-item {
  display: flex;
  align-items: center;
}

.stats-item img {
  height: 4rem;
  width: 4rem;
  padding: 0.5rem;
  background-color: #b82c23;
  border-radius: 1rem;
  margin-right: 1rem;
}

.stats-item:nth-child(2) img {
  background-color: #00c5c0;
}

.stats-item:nth-child(3) img {
  background-color: var(--cl_yellow);
}

.big-number {
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid var(--cl_yellow);
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}

.stats-description {
  width: 8rem;
}

.cards-test {
  display: grid;
  padding-top: 1rem;
  grid-template-columns: repeat(6, var(--1bx));
  gap: 1rem;
}

.card {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: var(--bradout);
  height: var(--1bx);
  width: var(--1bx);
  background-color: var(--cl_bxbggray);
}
.card:nth-of-type(3n - 1) {
  background-color: var(--cl_bxbgaccent);
}
.card:nth-of-type(3n) {
  background-color: var(--cl_bxbgmain);
}
.card-inner {
  height: 100%;
  width: 100%;
  font-size: 0.7rem;
  text-align: justify;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--bradin);
}

.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.big {
  grid-column: -3/span 2;
  grid-row: 1/span 2;
}

.card-2w {
  grid-column: span 2;
  width: var(--2bx);
}
.card-2w h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}
.card-2w h2 span {
  font-weight: 600;
}

.card-2h {
  grid-row: span 2;
  height: var(--2bx);
}

.card-trans {
  background-color: transparent;
}

.catalog-box .box {
  background-color: var(--cl_bxbgaccent);
}

table.specs {
  border-collapse: separate;
}
table.specs th {
  text-align: left;
  font-weight: bold;
}

.catalog-item {
  gap: 0;
}
.catalog-item .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 1rem;
  font-size: 1rem;
}
.catalog-item .description .user-buttons {
  display: flex;
  font-size: 1.1rem;
  gap: 0.3rem;
  justify-content: end;
}
.catalog-item .description .user-buttons .item-name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: auto;
}
.catalog-item .description .user-buttons a.icon {
  color: var(--cl_gray);
}
.catalog-item .description .user-buttons a:hover {
  color: var(--cl_accent);
  text-shadow: 0 0 1px currentColor;
}
.catalog-item .description .buttons {
  display: flex;
  justify-content: space-between;
}
.catalog-item .description .basic-btn {
  font-size: 0.9rem;
  line-height: 1em;
  padding: 0.5em 0.7em;
}
.catalog-item .description .tag-buttons a {
  font-size: 0.7rem;
  font-weight: 500;
  background-color: var(--cl_yellow);
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
}
.catalog-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--bradout);
}

.white-box {
  --rad: calc(2 * var(--bradout) - 2px);
  position: relative;
  height: var(--halfbx);
  display: flex;
}
.white-box .clip-left {
  position: absolute;
  top: 0;
  right: calc(100% + var(--rad));
  background-color: #fff;
  height: var(--rad);
  width: var(--rad);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: radial-gradient(circle var(--rad) at 0 100%, rgba(0, 0, 0, 0) 99%, #fff);
  mask-image: radial-gradient(circle var(--rad) at 0 100%, rgba(0, 0, 0, 0) 99%, #fff);
}
.white-box .clip-right {
  position: absolute;
  top: 0;
  left: calc(100% + var(--rad));
  background-color: #fff;
  height: var(--rad);
  width: var(--rad);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: radial-gradient(circle var(--rad) at 100% 100%, rgba(0, 0, 0, 0) 99%, #fff);
  mask-image: radial-gradient(circle var(--rad) at 100% 100%, rgba(0, 0, 0, 0) 99%, #fff);
}
.white-box .round-left {
  position: absolute;
  top: 0;
  right: 100%;
  background-color: #fff;
  height: var(--halfbx);
  width: var(--rad);
  border-bottom-left-radius: var(--rad);
}
.white-box .round-right {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  height: var(--halfbx);
  width: var(--rad);
  border-bottom-right-radius: var(--rad);
}

.benefits {
  position: relative;
  max-width: none;
  width: 100%;
  z-index: 0;
  margin-top: calc(0rem - var(--halfbx));
  padding-top: var(--halfbx);
}
.benefits * {
  z-index: 1;
}/*# sourceMappingURL=styles.css.map */