@import "_reset";
@import "_varsutils";

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--text_color);
}

header,
section,
footer {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background-color: #fff;
    padding: 1rem;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;

    &:visited {
        color: inherit;
    }
}

.brandname {
    font-weight: 600;

    span {
        color: var(--red);
    }
}

.hwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--1bx);
}

// Header
header {
    padding-top: 0.5rem;
    border-bottom-left-radius: var(--bradbig);
    border-bottom-right-radius: var(--bradbig);

    .logo img {
        width: 100%;
    }

    // .top-row {
    // }

    .mid-row {
        grid-auto-rows: 3rem;
        border-bottom: 1px solid var(--bg_gray);
        padding-inline: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .bot-row {
        grid-auto-rows: 2rem;
        padding-inline: 0.5rem;
        padding-top: 0.5rem;

        .item {
            position: relative;
            border-radius: var(--bradin);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            a {
                padding: 0.5rem 1rem;
                font-size: 1.1rem;
                width: 100%;
            }

            .dropdown {
                display: flex;
                flex-direction: column;
                position: absolute;
                z-index: -1;
                top: 100%;
                left: 0;
                width: max-content;
                max-width: var(--4bx);
                background-color: var(--bg_gray);
                border-radius: var(--bradout);
                visibility: hidden;
                opacity: 0;
                transform: translateY(-3rem);
                transition: all 0.2s ease 0s, visibility 0s linear 0.2s,
                    z-index 0s linear 0.01s;
            }

            &:hover,
            &:focus,
            &:focus-within {
                background-color: var(--bg_gray);

                .dropdown {
                    z-index: inherit;
                    transform: none;
                    visibility: visible;
                    opacity: 1;
                    transition-delay: 0s, 0s, 0.2s;
                }
            }
        }
    }
}

// Hero
.hero {
    position: relative;
    margin-top: calc(0rem - var(--1bx));
    margin-bottom: calc(0rem - var(--1bx));
    padding-top: calc(1rem + var(--1bx));
    padding-bottom: calc(1rem + var(--1bx));
    z-index: 0;
    width: 100%;
    background-color: var(--bg_turquoise);

    .swiper {
        &.bg-swiper {
            z-index: -1;
            position: absolute;
            inset: 0;

            &::after {
                z-index: 1;
                content: "";
                position: absolute;
                inset: 0;
                background-color: var(--bg_turquoise);
                opacity: 0.9;
            }

            .bg-image {
                background-position: center;
                background-size: cover;
            }
        }

        &-slide {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .description {
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 1rem;
                box-sizing: border-box;
                color: #fff;
                padding: 1rem;
                background-color: rgba(#000, 0.6);
                border-radius: var(--bradin);
                width: var(--4bx);
                padding-bottom: 3.5rem;

                h3 {
                    font-size: 1.2rem;
                }

                .arrow {
                    position: absolute;
                    height: 2px;
                    border-radius: 2px;
                    left: 30%;
                    width: 0;
                    bottom: 1.7rem;
                    background-color: #fff;
                    transition: all 0.2s ease;

                    &::after {
                        position: absolute;
                        content: "";
                        top: -0.45rem;
                        right: 1px;
                        height: 1rem;
                        width: 1rem;
                        border-right: 2px solid currentColor;
                        border-bottom: 2px solid currentColor;
                        border-radius: 2px;
                        opacity: 0;
                        transform: rotate(-45deg);
                    }
                }

                &:hover {
                    color: var(--turquoise);

                    .arrow {
                        width: 62%;
                        background-color: var(--turquoise);

                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &-buttons {
            position: absolute;
            z-index: 2;
            left: 1rem;
            bottom: 1rem;
            height: fit-content;
            width: fit-content;
            min-width: calc(8rem + 2px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;
            padding: 1rem 0.5rem;
            font-size: 1.5rem;
        }

        &-button-prev {
            height: fit-content;
            padding: 0 0.5rem;
            width: auto;
            margin-top: 0;
            position: relative;
            inset: auto;
            color: #fff;

            &::after {
                font-size: inherit;
            }
        }

        &-button-next {
            height: fit-content;
            padding: 0 0.5rem;
            width: auto;
            margin-top: 0;
            position: relative;
            inset: auto;
            color: #fff;

            &::after {
                font-size: inherit;
            }
        }

        &-pagination {
            display: flex;
            justify-content: center;
            position: relative;
            inset: auto;
            width: fit-content;
            font-size: inherit;
            color: #fff;
        }
    }

    .call-to-action {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        padding: 1rem;
        gap: 1rem;

        p {
            text-align: left;
            line-height: 1.3rem;
        }
    }
}

.base-button {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1em;
    font-weight: 600;
    vertical-align: middle;
    text-decoration: none;
    outline: none;
    color: var(--red);
    cursor: pointer;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 2px solid var(--red);
    border-radius: var(--bradin);
    transition: all 0.3s ease;

    &:hover {
        color: #fff;
        background-color: var(--red);
    }
}

.base-button[data-a-button] {
    color: var(--turquoise);
    background-color: transparent;
    border-color: var(--turquoise);

    &:hover {
        color: #fff;
        background-color: var(--turquoise);
    }
}

// Clipped corners divider
.clipped-corners-bottom {
    z-index: 0;
    height: var(--1bx);
    width: 100%;
    margin-bottom: calc(0rem - var(--1bx) - 1px);
    display: flex;
    justify-content: center;

    .clipped-corners-inner {
        position: relative;
        width: var(--12bx);

        .clip-left {
            position: absolute;
            bottom: -1px;
            right: calc(100% + 0.95rem);
            background-color: #fff;
            height: var(--bradbig);
            width: var(--bradbig);
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-image: radial-gradient(
                circle var(--bradbig) at 0 0,
                #0000 99%,
                #fff
            );
            mask-image: radial-gradient(
                circle var(--bradbig) at 0 0,
                #0000 99%,
                #fff
            );
        }

        .clip-right {
            position: absolute;
            bottom: -1px;
            left: calc(100% + 0.95rem);
            background-color: #fff;
            height: var(--bradbig);
            width: var(--bradbig);
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-image: radial-gradient(
                circle var(--bradbig) at 100% 0,
                #0000 99%,
                #fff
            );
            mask-image: radial-gradient(
                circle var(--bradbig) at 100% 0,
                #0000 99%,
                #fff
            );
        }
    }
}

.clipped-corners-top {
    z-index: 1;
    height: var(--1bx);
    width: 100%;
    margin-top: calc(0rem - var(--1bx) - 1px);
    display: flex;
    justify-content: center;

    .clipped-corners-inner {
        position: relative;
        width: var(--12bx);

        .clip-left {
            position: absolute;
            top: -1px;
            right: calc(100% + 0.95rem);
            background-color: #fff;
            height: var(--bradbig);
            width: var(--bradbig);
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-image: radial-gradient(
                circle var(--bradbig) at 0 100%,
                #0000 99%,
                #fff
            );
            mask-image: radial-gradient(
                circle var(--bradbig) at 0 100%,
                #0000 99%,
                #fff
            );
        }

        .clip-right {
            position: absolute;
            top: -1px;
            left: calc(100% + 0.95rem);
            background-color: #fff;
            height: var(--bradbig);
            width: var(--bradbig);
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-image: radial-gradient(
                circle var(--bradbig) at 100% 100%,
                #0000 99%,
                #fff
            );
            mask-image: radial-gradient(
                circle var(--bradbig) at 100% 100%,
                #0000 99%,
                #fff
            );
        }
    }
}

// Merits
.merits {
    z-index: 2;
    padding-bottom: 0;
    border-radius: var(--bradbig);

    .merit {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
        gap: 0.3rem;

        img {
            height: calc(4 * 1rem);
            width: auto;
            transition: all 0.2s ease;
        }

        .number {
            font-size: calc(2 * 1rem);
            font-weight: 500;
            text-decoration: underline;
            text-decoration-color: var(--turquoise);
            transition: all 0.2s ease;
        }

        p {
            height: fit-content;
        }

        &:hover {
            img {
                transform: rotate(3deg);
                filter: drop-shadow(0 0 0.5rem var(--turquoise));
            }

            .number {
                text-decoration-color: var(--red);
            }
        }
    }
}

// noUiSlider
.range {
    padding: 0 1rem;
    display: grid;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;

    &-name {
        font-weight: 600;
        padding-bottom: 0.2rem;
    }

    &-slider {
        cursor: pointer;
        height: 0.8rem;
        width: 100%;
        border: 2px solid var(--turquoise);
        border-radius: 1rem;
    }
}

.noUi-connect {
    background-color: var(--bg_turquoise);
}

.noUi-horizontal .noUi-handle {
    cursor: pointer;
    height: 1.3rem;
    width: 1.3rem;
    right: -10px;
    border-radius: 50%;
    border: 2px solid var(--turquoise);

    &::after,
    &::before {
        display: none;
    }
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin: 0;
    accent-color: var(--red);
    cursor: pointer;
}

.brand-flags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 600;

    label {
        padding-left: 0.2rem;
        cursor: pointer;
    }

    input {
        margin: 0 0 0 0.5rem;
    }
}

// Heading
.heading {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    justify-content: end;
    padding: 1rem;
    gap: 1rem;

    .see-more {
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--gray);
        padding-left: 2px;
        transition: all 0.3s ease;
    }

    .title {
        width: fit-content;

        &:hover {
            color: var(--gray);

            .see-more {
                color: var(--turquoise);
                padding-left: 1rem;
            }
        }
    }

    &-card {
        cursor: pointer;
        height: 100%;
        width: var(--2bx);
        padding: 0.5rem;
        background-color: var(--bg_gray);
        border-radius: var(--bradin);
        transition: all 0.3s ease;
    }
}

// Catalog
.catalog {
    padding: 0 0.7rem;
    border-radius: var(--bradbig);

    .boxgrid {
        padding: 0 0.3rem;
    }

    .swiper {
        padding: 0 0.3rem 1rem 0.3rem;
        width: calc(var(--12bx) + 0.6rem);
        height: calc(var(--6bx) + 2rem);

        &-scrollbar {
            top: 0;
            background-color: var(--bg_gray);

            &-drag {
                background-color: var(--gray);
            }
        }

        &-button-next,
        &-button-prev {
            top: calc(var(--4bx) + 0.5rem);

            &::after {
                color: var(--red);
            }
        }

        &-button-next {
            right: -1.5rem;
        }

        &-button-prev {
            left: -1.5rem;
        }
    }

    .vehicle {
        order: 0;
        height: var(--3bx);
        display: grid;
        align-items: initial;
        justify-content: initial;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        margin-top: 16px;
        border-radius: var(--bradout);

        &[data-hidden] {
            order: 1;
            opacity: 0.3;
            filter: brightness(1.1);
        }
    }

    .model {
        padding: 1rem;
        padding-bottom: 0.5rem;
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        gap: 0.3rem;
        align-items: start;
    }

    .name-type {
        grid-row: 1/-1;
        display: grid;
        margin-right: auto;
        color: var(--gray);

        .name {
            color: var(--text_color);

            h4 {
                font-weight: 600;
            }
        }

        .type {
            font-size: 0.9rem;
        }

        a {
            &:hover {
                color: var(--turquoise);
            }
        }
    }

    .actions {
        display: flex;
        justify-content: end;
        gap: 0.3rem;

        a {
            display: block;
            width: fit-content;
            font-size: 1.4rem;
            padding: 0.1rem;
            color: var(--gray);
            border: 2px solid currentColor;
            border-radius: 0.3rem;

            &:hover {
                color: var(--turquoise);
            }
        }
    }

    .tags {
        display: flex;
        justify-content: end;
        gap: 0.3rem;

        a {
            display: block;
            width: fit-content;
            font-size: 0.8rem;
            font-weight: 500;
            padding: 2px 4px;
            border-radius: 0.3rem;
        }

        .hit {
            color: #fff;
            background-color: var(--red);
        }

        .new {
            background-color: var(--yellow);
        }
    }

    .gallery {
        grid-column: 2/4;
        grid-row: 2/4;
        position: relative;
        margin-right: 1rem;
        margin-bottom: 1rem;

        .bullets {
            z-index: 1;
            padding: 0 0.3rem;
            position: absolute;
            inset: 0;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            align-items: end;

            span {
                position: relative;
                height: 100%;
                width: 100%;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0.5rem;
                    height: 4px;
                    left: 0.3rem;
                    right: 0.3rem;
                    border-radius: 0.5rem;
                    background-color: var(--gray);
                }

                &[data-active] {
                    &::after {
                        background-color: var(--bg_turquoise);
                    }
                }
            }
        }

        img {
            position: absolute;
            top: 0;
            height: 100%;
            left: 0;
            width: 100%;
            object-fit: cover;
            border-radius: var(--bradin);
        }

        .more {
            position: absolute;
            top: 0;
            height: 100%;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: var(--bradin);
            background-position: center;
            background-size: cover;

            span {
                position: relative;
                z-index: 1;
                font-size: 1.2rem;
                color: #fff;
            }

            &::after {
                z-index: 0;
                content: "";
                position: absolute;
                inset: 0;
                background-color: rgba(0, 0, 0, 0.6);
                border-radius: var(--bradin);
            }
        }
    }

    .specs {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 1rem;
        padding-right: 0.5rem;
        gap: 0.5rem;
        font-weight: 600;

        span {
            display: block;
            padding-bottom: 0.1rem;
            font-size: 0.8rem;
            font-weight: 500;
            color: var(--gray);
        }
    }

    .bottom-line {
        padding: 0.5rem 0.5rem 1rem 1rem;
        display: flex;
        justify-content: start;
        align-items: center;
        align-self: end;
    }
}

// Benefits
.benefits {
    position: relative;
    max-width: none;
    width: 100%;
    z-index: 0;
    margin-top: calc(0rem - var(--1bx));
    margin-bottom: calc(0rem - var(--1bx));
    padding-top: calc(1rem + var(--1bx));
    padding-bottom: calc(1rem + var(--1bx));
    background-position: center;
    background-size: cover;

    * {
        z-index: 1;
    }

    .click-them {
        position: relative;
        width: var(--2bx);
        padding-right: 1.3rem;
        font-size: 0.7rem;
        color: var(--gray);
        text-align: right;

        &::after {
            position: absolute;
            font-size: 1rem;
            content: "⇒";
            top: calc(50% - 0.5rem);
            right: 0;
        }
    }

    .heading-card {
        position: relative;
        display: flex;
        overflow: hidden;

        .logo {
            height: 100%;
            width: 100%;
            transform: scale(0.9);
            object-fit: contain;
        }

        &::after {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            width: 0;
            border-radius: var(--bradin);
            background-color: var(--bg_turquoise);
            transition: all 0.3s ease;
        }

        &[data-brand="goodwork"] {
            &::after {
                right: 0;
            }
        }

        &[data-brand="zvezda"] {
            &::after {
                left: 0;
            }
        }

        &[data-active] {
            &::after {
                width: 100%;
            }
        }
    }

    .benefit {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        text-align: center;
    }

    .images {
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: contain;
            opacity: 0;
            visibility: hidden;
            transition: visibility 0s linear 0.5s, opacity 0.5s ease;

            &[data-active] {
                opacity: 1;
                visibility: visible;
                transition: visibility 0s linear 0s, opacity 0.5s ease;
            }
        }
    }
}

// Videogallery
.videogallery {
    padding-top: 0;
    border-radius: var(--bradbig);

    .video-item {
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.2s ease;
            filter: brightness(0.6);
            border-radius: var(--bradout);
        }

        .video-description-wrapper {
            color: white;
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.2rem;
        }

        .play-button {
            display: none;
            position: absolute;
            overflow: hidden;
            color: var(--red);
            font-size: 4em;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.2s ease;
        }

        &:hover img {
            transition: all 0.2s ease;
            filter: brightness(1);
        }

        &:hover .video-description-wrapper {
            display: none;
            transition: all 0.2s ease;
        }

        &:hover .play-button {
            display: block;
            transition: all 0.2s ease;
        }
    }
}

// About us
.about-us {
    position: relative;
    width: 100%;
    z-index: 0;
    margin-top: calc(0rem - var(--1bx));
    padding-top: calc(1rem + var(--1bx));
    margin-bottom: calc(0rem - var(--1bx));
    padding-bottom: calc(1rem + var(--1bx));
    color: #fff;

    * {
        z-index: 1;
    }

    .box {
        background-color: rgba(#000, 0.6);
    }

    h2 {
        color: white;
    }

    .slider-container {
        display: grid;
        padding: 1rem;
        gap: 1rem;
        grid-template-columns: 3fr 1fr;
    }

    .swiper {
        height: 100%;
        width: 100%;
        border-radius: var(--bradout);
    }

    .thumbs {
        display: grid;
        gap: 0.5rem;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: var(--bradin);
        }
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        position: absolute;
        max-width: none;
        z-index: -1;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 1rem 5rem;

        p {
            font-size: 1rem;
            font-weight: 400;
        }
    }

    .gallery {
        padding: 5rem;

        img {
            width: 100%;
            border-radius: var(--bradin);
        }
    }
}

// Reviews
.reviews {
    border-radius: var(--bradbig);

    .customer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 1rem;
        gap: 1rem;
        transition: all 0.2s ease;

        img {
            width: 100%;
            border-radius: var(--bradin);
        }

        .clip-top,
        .clip-bottom {
            position: absolute;
            opacity: 0;
            right: -1rem;
            background-color: inherit;
            height: var(--bradout);
            width: var(--bradout);
            transition: all 0.2s ease, background-color 0.01s;
        }

        .clip-top {
            bottom: 100%;
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-image: radial-gradient(
                circle var(--bradout) at 0 0,
                #0000 99%,
                #fff
            );
            mask-image: radial-gradient(
                circle var(--bradout) at 0 0,
                #0000 99%,
                #fff
            );
        }

        .clip-bottom {
            top: 100%;
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-image: radial-gradient(
                circle var(--bradout) at 0 100%,
                #0000 99%,
                #fff
            );
            mask-image: radial-gradient(
                circle var(--bradout) at 0 100%,
                #0000 99%,
                #fff
            );
        }

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            background-color: inherit;
            inset: 0;
            left: 50%;
            border-radius: inherit;
            transition: all 0.2s ease, background-color 0.01s;
        }

        &[data-active] {
            .clip-top,
            .clip-bottom {
                opacity: 1;
            }

            &::after {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                right: -3rem;
            }
        }
    }

    .texts {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        button {
            all: unset;
            cursor: pointer;

            i {
                font-size: 5rem;
                color: var(--gray);
            }
        }

        h3 {
            font-size: 1.7rem;
            font-weight: 700;
            margin-bottom: 1.5rem;
        }

        p {
            font-size: 1.4rem;
            font-weight: 400;
            margin-bottom: 1.3rem;
        }

        .text {
            position: absolute;
            inset: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: visibility 0s linear 0.5s, opacity 0.5s ease;

            &[data-active] {
                opacity: 1;
                visibility: visible;
                transition: visibility 0s linear 0s, opacity 0.5s ease;
            }
        }

        .photos {
            display: flex;
            gap: 0.5rem;

            img {
                height: 6rem;
                width: 6rem;
                object-fit: cover;
                border-radius: var(--bradin);
            }
        }
    }

    .videos {
        height: 100%;
        display: grid;
        align-items: center;
        gap: 1rem;

        padding: 1.5rem;

        h3 {
            font-size: 1.4rem;
            font-weight: 600;
            text-align: center;
        }

        iframe {
            height: 100%;
            width: 100%;
            border-radius: var(--bradin);
        }

        // .video {
        //     background-color: cyan;
        //     height: 100%;
        //     width: 100%;

        // }
    }
}

// Contacts
.contacts {
    padding-top: 0;
    border-radius: var(--bradbig);

    // .map {
    //     iframe {
    //         height: 100%;
    //         width: 100%;
    //         border-radius: var(--bradout);
    //     }
    // }

    form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 1rem;

        & > div {
            height: 100%;
            width: 100%;
            display: grid;
            grid-auto-rows: auto;
            gap: 1rem;
        }

        .text {
            height: fit-content;
            align-self: center;
            text-align: center;
            padding: 0 2rem;
        }

        .name-and-phone {
            grid-template-rows: auto auto 1fr;

            input {
                display: block;
                font-family: inherit;
                font-size: 1.2rem;
                padding: 0.75rem 1rem;
                outline: none;
                border: none;
                border-radius: var(--bradin);
                width: 100%;
                height: 2.5rem;
            }

            fieldset {
                align-self: end;
                display: flex;
                align-items: center;
                justify-self: end;
            }
        }

        .comment-and-button {
            grid-template-rows: auto 1fr;

            .bottom-line {
                height: fit-content;
                align-self: end;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 0.5rem;

                label {
                    max-width: 15rem;
                    font-size: 0.8rem;
                    cursor: pointer;
                }

                .base-button {
                    margin-left: auto;
                }
            }
        }

        textarea {
            display: block;
            font-family: inherit;
            outline: none;
            border: none;
            width: 100%;
            height: 6rem;
            border-radius: var(--bradin);
            padding: 0.75rem 1rem;
            font-size: 1.2rem;
            resize: none;
        }
    }
}

//Footer
footer {
    z-index: 0;
    margin-top: calc(0rem - var(--1bx));
    padding-top: calc(var(--1bx) + 3rem);
    margin-bottom: calc(0rem - var(--1bx));
    padding-bottom: calc(var(--1bx) + 3rem);
    width: 100%;
    background-position: center;
    background-size: cover;

    &::after {
        z-index: -1;
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--bg_gray);
        opacity: 0.9;
    }

    .box {
        gap: 0.5rem;
        padding: 0 2rem;
        flex-direction: column;
        justify-content: start;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
        align-self: center;
    }

    .text {
        img {
            width: 100%;
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .logos {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.4rem;
            height: 3rem;
        }
    }

    .links {
        display: grid;
        width: fit-content;
        height: fit-content;
        gap: 1rem;
        grid-template-rows: repeat(6, auto);
        grid-auto-columns: 1fr;
        grid-auto-flow: column dense;

        a {
            width: fit-content;
            font-size: 1.1rem;

            &:hover {
                color: var(--gray);
            }
        }
    }

    .contacts {
        align-items: start;

        .bold {
            font-weight: 600;
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }

        .social {
            display: flex;
            gap: 0.5rem;

            a {
                display: inline-block;
                font-size: 1.8rem;
                text-align: center;

                .uil-youtube {
                    transition: all 0.3s ease;

                    &:hover {
                        color: #ff0000;
                    }
                }
                .uil-telegram {
                    transition: all 0.3s ease;

                    &:hover {
                        color: #28a8e9;
                    }
                }
                .uil-whatsapp-alt {
                    transition: all 0.3s ease;

                    &:hover {
                        color: #2dd56c;
                    }
                }
            }
        }
    }
}

.copyright {
    border-top-right-radius: var(--bradbig);
    border-top-left-radius: var(--bradbig);
}

// Modal

.modal {
    display: flex;
    // visibility: hidden;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.modal-body {
    position: relative;
    background-color: white;
    border-radius: var(--bradout);
    max-width: 40rem;
    padding: 3rem 5rem;
    margin: auto;

    form {
        display: flex;
        flex-direction: column;
        border-radius: 0;
        gap: 1rem;
        justify-content: start;  
    }

    .text {
        text-align: center;
        padding: 0 2rem;

        h2 {
            margin-bottom: 0.5rem;
        }
    }

    .name-and-phone {
        width: 100%;

        input {
            display: block;
            font-family: inherit;
            font-size: 1.2rem;
            padding: 0.75rem 1rem;
            outline: none;
            border: none;
            border-radius: var(--bradin);
            width: 100%;
            height: 2.5rem;
            margin-bottom: 1rem;
        }

        fieldset {
            display: flex;
            align-items: center;
            justify-self: end;
        }
    }

    .comment-and-button {
        width: 100%;

        .bottom-form {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.5rem;

            input[type="checkbox"] {
                width: 1.5rem;
                height: 1.5rem;
                accent-color: var(--red);
                cursor: pointer;
            }

            .basic-btn {
                margin-left: auto;
            }
        }
    }

    textarea {
        font-family: inherit;
        outline: none;
        border: none;
        width: 100%;

        height: 6rem;
        border-radius: var(--bradin);
        padding: 0.75rem 1rem;

        font-size: 1.2rem;
        resize: none;
        margin-bottom: 1rem;
    }

    .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        border: none;
        background-color:#fff;
        border-radius: 35%;
        cursor: pointer;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: black;
    opacity: 0.75;
}

[x-cloak] {
    display: none !important;
}

// this is save
