/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  --red: #d44128;
  --turquoise: #3cd1c5;
  --gray: #838383;
  --yellow: #f7ce24;
  --text_color: #252525;
  --bg_turquoise: #d3f7f4;
  --bg_gray: #e8e8f5;
  --1bx: clamp(4rem, 6.5vw, 6rem);
  --2bx: calc(2 * var(--1bx) + 1 * 1rem);
  --3bx: calc(3 * var(--1bx) + 2 * 1rem);
  --4bx: calc(4 * var(--1bx) + 3 * 1rem);
  --5bx: calc(5 * var(--1bx) + 4 * 1rem);
  --6bx: calc(6 * var(--1bx) + 5 * 1rem);
  --7bx: calc(7 * var(--1bx) + 6 * 1rem);
  --8bx: calc(8 * var(--1bx) + 7 * 1rem);
  --9bx: calc(9 * var(--1bx) + 8 * 1rem);
  --10bx: calc(10 * var(--1bx) + 9 * 1rem);
  --11bx: calc(11 * var(--1bx) + 10 * 1rem);
  --12bx: calc(12 * var(--1bx) + 11 * 1rem);
  --bradout: calc(1.4 * 1rem);
  --bradin: 0.9rem;
  --bradbig: calc(1.8 * var(--bradout) - 2px);
  color: var(--text_color);
}

.boxgrid {
  --col_start: auto;
  --row_start: auto;
  display: grid;
  max-width: var(--12bx);
  gap: 1rem;
  grid-auto-flow: row dense;
  grid-auto-rows: var(--1bx);
  grid-template-columns: repeat(12, var(--1bx));
}

.hoverline {
  -webkit-text-decoration: underline 0.1rem transparent;
          text-decoration: underline 0.1rem transparent;
  transition: all 0.3s ease;
}
.hoverline:hover {
  text-decoration-color: var(--turquoise);
}

.box {
  height: 100%;
  width: 100%;
  grid-column: span 1;
  grid-row: span 1;
  border-radius: var(--bradout);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

[data-bg=white] {
  background-color: #fff !important;
}

[data-bg=turquoise] {
  background-color: var(--bg_turquoise) !important;
}

[data-bg=gray] {
  background-color: var(--bg_gray) !important;
}

[data-bg=black] {
  background-color: var(--bg_gray) !important;
}

.hover3d {
  transition: all 0.2s ease;
}
.hover3d:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.col_-1 {
  --col_start: -1;
}

.row_-1 {
  --row_start: -1;
}

.col_0 {
  --col_start: 0;
}

.row_0 {
  --row_start: 0;
}

.col_1 {
  --col_start: 1;
}

.row_1 {
  --row_start: 1;
}

.col_2 {
  --col_start: 2;
}

.row_2 {
  --row_start: 2;
}

.col_3 {
  --col_start: 3;
}

.row_3 {
  --row_start: 3;
}

.col_4 {
  --col_start: 4;
}

.row_4 {
  --row_start: 4;
}

.col_5 {
  --col_start: 5;
}

.row_5 {
  --row_start: 5;
}

.col_6 {
  --col_start: 6;
}

.row_6 {
  --row_start: 6;
}

.col_7 {
  --col_start: 7;
}

.row_7 {
  --row_start: 7;
}

.col_8 {
  --col_start: 8;
}

.row_8 {
  --row_start: 8;
}

.col_9 {
  --col_start: 9;
}

.row_9 {
  --row_start: 9;
}

.col_10 {
  --col_start: 10;
}

.row_10 {
  --row_start: 10;
}

.col_11 {
  --col_start: 11;
}

.row_11 {
  --row_start: 11;
}

.col_12 {
  --col_start: 12;
}

.row_12 {
  --row_start: 12;
}

.w_2 {
  grid-column: var(--col_start)/span 2;
}

.h_2 {
  grid-row: var(--row_start)/span 2;
}

.w_3 {
  grid-column: var(--col_start)/span 3;
}

.h_3 {
  grid-row: var(--row_start)/span 3;
}

.w_4 {
  grid-column: var(--col_start)/span 4;
}

.h_4 {
  grid-row: var(--row_start)/span 4;
}

.w_5 {
  grid-column: var(--col_start)/span 5;
}

.h_5 {
  grid-row: var(--row_start)/span 5;
}

.w_6 {
  grid-column: var(--col_start)/span 6;
}

.h_6 {
  grid-row: var(--row_start)/span 6;
}

.w_7 {
  grid-column: var(--col_start)/span 7;
}

.h_7 {
  grid-row: var(--row_start)/span 7;
}

.w_8 {
  grid-column: var(--col_start)/span 8;
}

.h_8 {
  grid-row: var(--row_start)/span 8;
}

.w_9 {
  grid-column: var(--col_start)/span 9;
}

.h_9 {
  grid-row: var(--row_start)/span 9;
}

.w_10 {
  grid-column: var(--col_start)/span 10;
}

.h_10 {
  grid-row: var(--row_start)/span 10;
}

.w_11 {
  grid-column: var(--col_start)/span 11;
}

.h_11 {
  grid-row: var(--row_start)/span 11;
}

.w_12 {
  grid-column: var(--col_start)/span 12;
}

.h_12 {
  grid-row: var(--row_start)/span 12;
}

@media (max-width: 1350px) {
  :root {
    font-size: 14px;
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--text_color);
}

header,
section,
footer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  background-color: #fff;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

a {
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}
a:visited {
  color: inherit;
}

.brandname {
  font-weight: 600;
}
.brandname span {
  color: var(--red);
}

.hwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--1bx);
}

header {
  padding-top: 0.5rem;
  border-bottom-left-radius: var(--bradbig);
  border-bottom-right-radius: var(--bradbig);
}
header .logo img {
  width: 100%;
}
header .mid-row {
  grid-auto-rows: 3rem;
  border-bottom: 1px solid var(--bg_gray);
  padding-inline: 0.5rem;
  padding-bottom: 0.5rem;
}
header .bot-row {
  grid-auto-rows: 2rem;
  padding-inline: 0.5rem;
  padding-top: 0.5rem;
}
header .bot-row .item {
  position: relative;
  border-radius: var(--bradin);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header .bot-row .item a {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  width: 100%;
}
header .bot-row .item .dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  width: -moz-max-content;
  width: max-content;
  max-width: var(--4bx);
  background-color: var(--bg_gray);
  border-radius: var(--bradout);
  visibility: hidden;
  opacity: 0;
  transform: translateY(-3rem);
  transition: all 0.2s ease 0s, visibility 0s linear 0.2s, z-index 0s linear 0.01s;
}
header .bot-row .item:hover, header .bot-row .item:focus, header .bot-row .item:focus-within {
  background-color: var(--bg_gray);
}
header .bot-row .item:hover .dropdown, header .bot-row .item:focus .dropdown, header .bot-row .item:focus-within .dropdown {
  z-index: inherit;
  transform: none;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s, 0s, 0.2s;
}

.hero {
  z-index: 0;
  width: 100%;
  background-color: var(--bg_turquoise);
}
.hero .swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .swiper-slide .description {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  box-sizing: border-box;
  color: #fff;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: var(--bradin);
  width: var(--4bx);
  padding-bottom: 3.5rem;
}
.hero .swiper-slide .description h3 {
  font-size: 1.2rem;
}
.hero .swiper-slide .description .arrow {
  position: absolute;
  height: 3px;
  border-radius: 2px;
  left: 30%;
  width: 0;
  bottom: 1.7rem;
  background-color: #fff;
  transition: all 0.2s ease;
}
.hero .swiper-slide .description .arrow::after {
  position: absolute;
  content: "";
  font-size: 2rem;
  line-height: 0;
  top: 2px;
  right: -5px;
  opacity: 0;
}
.hero .swiper-slide .description:hover {
  color: var(--turquoise);
}
.hero .swiper-slide .description:hover .arrow {
  width: 62%;
  background-color: var(--turquoise);
}
.hero .swiper-slide .description:hover .arrow::after {
  opacity: 1;
}
.hero .swiper-buttons {
  position: absolute;
  z-index: 2;
  left: 1rem;
  bottom: 1rem;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5rem;
}
.hero .swiper-button-prev {
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
  margin-top: 0;
  position: relative;
  inset: auto;
  color: #fff;
}
.hero .swiper-button-prev::after {
  font-size: inherit;
}
.hero .swiper-button-next {
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
  margin-top: 0;
  position: relative;
  inset: auto;
  color: #fff;
}
.hero .swiper-button-next::after {
  font-size: inherit;
}
.hero .swiper-pagination {
  display: flex;
  justify-content: center;
  position: relative;
  inset: auto;
  width: -moz-fit-content;
  width: fit-content;
  font-size: inherit;
  color: #fff;
}
.hero .call-to-action {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 1rem;
  gap: 1rem;
}
.hero .call-to-action p {
  text-align: left;
  line-height: 1.3rem;
}

.base-button {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1em;
  font-weight: 600;
  vertical-align: middle;
  text-decoration: none;
  outline: none;
  color: var(--red);
  cursor: pointer;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: 2px solid var(--red);
  border-radius: var(--bradin);
  transition: all 0.3s ease;
}
.base-button:hover {
  color: #fff;
  background-color: var(--red);
}

.base-button[data-a-button] {
  color: var(--turquoise);
  background-color: transparent;
  border-color: var(--turquoise);
}
.base-button[data-a-button]:hover {
  color: #fff;
  background-color: var(--turquoise);
}

.clipped-corners-bottom {
  z-index: 0;
  height: var(--1bx);
  width: 100%;
  margin-bottom: calc(0rem - var(--1bx) - 1px);
  display: flex;
  justify-content: center;
}
.clipped-corners-bottom .clipped-corners-inner {
  position: relative;
  width: var(--12bx);
}
.clipped-corners-bottom .clipped-corners-inner .clip-left {
  position: absolute;
  bottom: 0;
  right: calc(100% + 1rem);
  background-color: #fff;
  height: var(--bradbig);
  width: var(--bradbig);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: radial-gradient(circle var(--bradbig) at 0 0, rgba(0, 0, 0, 0) 99%, #fff);
  mask-image: radial-gradient(circle var(--bradbig) at 0 0, rgba(0, 0, 0, 0) 99%, #fff);
}
.clipped-corners-bottom .clipped-corners-inner .clip-right {
  position: absolute;
  bottom: 0;
  left: calc(100% + 1rem);
  background-color: #fff;
  height: var(--bradbig);
  width: var(--bradbig);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: radial-gradient(circle var(--bradbig) at 100% 0, rgba(0, 0, 0, 0) 99%, #fff);
  mask-image: radial-gradient(circle var(--bradbig) at 100% 0, rgba(0, 0, 0, 0) 99%, #fff);
}

.clipped-corners-top {
  z-index: 1;
  height: var(--1bx);
  width: 100%;
  margin-top: calc(0rem - var(--1bx) - 1px);
  display: flex;
  justify-content: center;
}
.clipped-corners-top .clipped-corners-inner {
  position: relative;
  width: var(--12bx);
}
.clipped-corners-top .clipped-corners-inner .clip-left {
  position: absolute;
  top: 0;
  right: calc(100% + 1rem);
  background-color: #fff;
  height: var(--bradbig);
  width: var(--bradbig);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: radial-gradient(circle var(--bradbig) at 0 100%, rgba(0, 0, 0, 0) 99%, #fff);
  mask-image: radial-gradient(circle var(--bradbig) at 0 100%, rgba(0, 0, 0, 0) 99%, #fff);
}
.clipped-corners-top .clipped-corners-inner .clip-right {
  position: absolute;
  top: 0;
  left: calc(100% + 1rem);
  background-color: #fff;
  height: var(--bradbig);
  width: var(--bradbig);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: radial-gradient(circle var(--bradbig) at 100% 100%, rgba(0, 0, 0, 0) 99%, #fff);
  mask-image: radial-gradient(circle var(--bradbig) at 100% 100%, rgba(0, 0, 0, 0) 99%, #fff);
}

.merits {
  z-index: 2;
  padding-bottom: 0;
  border-radius: var(--bradbig);
}
.merits .merit {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 0.3rem;
}
.merits .merit img {
  height: 4rem;
  width: auto;
  transition: all 0.2s ease;
}
.merits .merit .number {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: var(--turquoise);
  transition: all 0.2s ease;
}
.merits .merit p {
  height: -moz-fit-content;
  height: fit-content;
}
.merits .merit:hover img {
  transform: rotate(3deg);
  filter: drop-shadow(0 0 0.5rem var(--turquoise));
}
.merits .merit:hover .number {
  text-decoration-color: var(--red);
}

#slider {
  width: 200px;
}

.heading {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  padding: 1rem;
  gap: 2rem;
}
.heading span {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--gray);
  padding-left: 2px;
  transition: all 0.3s ease;
}
.heading a:hover {
  color: var(--gray);
}
.heading a:hover span {
  color: var(--turquoise);
  padding-left: 1rem;
}

.catalog {
  padding: 0;
  border-radius: var(--bradbig);
}
.catalog .boxgrid {
  padding-left: 1rem;
  padding-right: 1rem;
}
.catalog .swiper {
  padding: 1rem;
  max-width: calc(var(--12bx) + 2rem);
  max-height: calc(var(--8bx) + 2rem);
}
.catalog .vehicle {
  height: var(--4bx);
  display: grid;
  align-items: initial;
  justify-content: initial;
  grid-template-rows: auto auto 1fr;
  border-radius: var(--bradout);
}
.catalog .hidden {
  order: 1;
  opacity: 0.2;
  filter: brightness(0.8);
}
.catalog .slider {
  height: calc(var(--2bx) - 1rem);
}
.catalog .slider img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--bradout);
}
.catalog .description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.1rem;
  padding: 0.5rem 1rem;
}
.catalog .description table {
  border-collapse: separate;
  font-size: 1rem;
  line-height: 1.1em;
  padding-bottom: 0.4rem;
}
.catalog .description table th {
  text-align: left;
  font-weight: 600;
}
.catalog .description table td {
  text-align: right;
}
.catalog .description .tags {
  padding-bottom: 0.4rem;
}
.catalog .description .tags a {
  font-size: 0.7rem;
  font-weight: 500;
  padding: 1px 4px;
  border-radius: 0.3rem;
}
.catalog .description .tags .hit {
  color: #fff;
  background-color: var(--red);
}
.catalog .description .tags .new {
  background-color: var(--yellow);
}
.catalog .description .model {
  display: flex;
  color: var(--text_color);
  gap: 0.3rem;
  justify-content: end;
  align-items: center;
}
.catalog .description .model h4 {
  font-size: 1.3rem;
  font-weight: 700;
}
.catalog .description .model .name {
  margin-right: auto;
  font-size: 0.9rem;
}
.catalog .description .model a.action {
  font-size: 1.3rem;
  padding: 0.1rem;
  color: var(--gray);
  border: 2px solid currentColor;
  border-radius: 0.3rem;
}
.catalog .description .model a:hover {
  color: var(--turquoise);
}
.catalog .description .price {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray);
}
.catalog .description .price span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text_color);
}
.catalog .buttons {
  display: flex;
  justify-content: space-between;
  align-self: end;
  padding: 1rem;
  padding-top: 0;
}

.benefits {
  position: relative;
  max-width: none;
  width: 100%;
  z-index: 0;
  margin-top: calc(0rem - var(--1bx));
  margin-bottom: calc(0rem - var(--1bx));
  padding-top: calc(1rem + var(--1bx));
  padding-bottom: calc(1rem + var(--1bx));
}
.benefits * {
  z-index: 1;
}

.videogallery {
  padding-top: 0;
  border-radius: var(--bradbig);
}
.videogallery .video-item {
  position: relative;
}
.videogallery .video-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease;
  filter: brightness(0.6);
  border-radius: var(--bradout);
}
.videogallery .video-item .video-description-wrapper {
  color: white;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem;
}
.videogallery .video-item .play-button {
  display: none;
  position: absolute;
  overflow: hidden;
  color: var(--red);
  font-size: 4em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
}
.videogallery .video-item:hover img {
  transition: all 0.2s ease;
  filter: brightness(1);
}
.videogallery .video-item:hover .video-description-wrapper {
  display: none;
  transition: all 0.2s ease;
}
.videogallery .video-item:hover .play-button {
  display: block;
  transition: all 0.2s ease;
}

.about-us {
  position: relative;
  width: 100%;
  z-index: 0;
  margin-top: calc(0rem - var(--1bx));
  padding-top: calc(1rem + var(--1bx));
  margin-bottom: calc(0rem - var(--1bx));
  padding-bottom: calc(1rem + var(--1bx));
  color: #fff;
}
.about-us * {
  z-index: 1;
}
.about-us .box {
  background-color: rgba(0, 0, 0, 0.6);
}
.about-us h2 {
  color: white;
}
.about-us .slider-container {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: 3fr 1fr;
}
.about-us .swiper {
  height: 100%;
  width: 100%;
  border-radius: var(--bradout);
}
.about-us .thumbs {
  display: grid;
  gap: 0.5rem;
}
.about-us .thumbs img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--bradin);
}
.about-us video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  position: absolute;
  max-width: none;
  z-index: -1;
}
.about-us .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem 5rem;
}
.about-us .text p {
  font-size: 1rem;
  font-weight: 400;
}
.about-us .gallery {
  padding: 5rem;
}
.about-us .gallery img {
  width: 100%;
  border-radius: var(--bradin);
}

.reviews {
  border-radius: var(--bradbig);
}
.reviews .customer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem;
  gap: 1rem;
  transition: all 0.2s ease;
}
.reviews .customer img {
  width: 100%;
  border-radius: var(--bradin);
}
.reviews .customer .clip-top,
.reviews .customer .clip-bottom {
  position: absolute;
  opacity: 0;
  right: -1rem;
  background-color: inherit;
  height: var(--bradout);
  width: var(--bradout);
  transition: all 0.2s ease, background-color 0.01s;
}
.reviews .customer .clip-top {
  bottom: 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: radial-gradient(circle var(--bradout) at 0 0, rgba(0, 0, 0, 0) 99%, #fff);
  mask-image: radial-gradient(circle var(--bradout) at 0 0, rgba(0, 0, 0, 0) 99%, #fff);
}
.reviews .customer .clip-bottom {
  top: 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: radial-gradient(circle var(--bradout) at 0 100%, rgba(0, 0, 0, 0) 99%, #fff);
  mask-image: radial-gradient(circle var(--bradout) at 0 100%, rgba(0, 0, 0, 0) 99%, #fff);
}
.reviews .customer::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: inherit;
  inset: 0;
  left: 50%;
  border-radius: inherit;
  transition: all 0.2s ease, background-color 0.01s;
}
.reviews .customer[data-chosen=true] .clip-top,
.reviews .customer[data-chosen=true] .clip-bottom {
  opacity: 1;
}
.reviews .customer[data-chosen=true]::after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  right: -3rem;
}
.reviews .texts {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.reviews .texts button {
  all: unset;
  cursor: pointer;
}
.reviews .texts button i {
  font-size: 5rem;
  color: var(--gray);
}
.reviews .texts h3 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.reviews .texts p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.3rem;
}
.reviews .texts .text {
  position: absolute;
  inset: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.5s, opacity 0s ease;
}
.reviews .texts .text[data-chosen=true] {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 0.5s ease;
}
.reviews .texts .photos {
  display: flex;
  gap: 0.5rem;
}
.reviews .texts .photos img {
  height: 6rem;
  width: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--bradin);
}
.reviews .videos {
  height: 100%;
  display: grid;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}
.reviews .videos h3 {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}
.reviews .videos iframe {
  height: 100%;
  width: 100%;
  border-radius: var(--bradin);
}

.contacts {
  padding-top: 0;
  border-radius: var(--bradbig);
}
.contacts .map iframe {
  height: 100%;
  width: 100%;
  border-radius: var(--bradout);
}
.contacts .inquiry-form {
  padding: 3rem 2rem;
}
.contacts .inquiry-form h3 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.contacts .inquiry-form input {
  outline: none;
  border: none;
  width: 100%;
  border-radius: var(--bradin);
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
}
.contacts .inquiry-form textarea {
  outline: none;
  border: none;
  width: 100%;
  min-height: 3rem;
  border-radius: var(--bradin);
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  resize: none;
}

footer {
  z-index: 0;
  margin-top: calc(0rem - var(--1bx));
  padding-top: calc(var(--1bx) + 3rem);
  width: 100%;
}
footer .box {
  gap: 0.5rem;
  padding: 0 2rem;
  flex-direction: column;
  justify-content: start;
}
footer h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  align-self: center;
}
footer .text img {
  width: 100%;
}
footer .text .description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .text .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
footer .text .logos a {
  height: 2rem;
}
footer .links {
  display: grid;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 1rem;
  grid-template-rows: repeat(6, auto);
  grid-auto-columns: 1fr;
  grid-auto-flow: column dense;
}
footer .links a {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.1rem;
}
footer .links a:hover {
  color: var(--gray);
}
footer .contacts {
  align-items: start;
}
footer .contacts .bold {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
footer .contacts .social {
  display: flex;
  gap: 0.5rem;
}
footer .contacts .social a {
  display: inline-block;
  font-size: 1.8rem;
  text-align: center;
}
footer .contacts .social a .uil-youtube {
  transition: all 0.3s ease;
}
footer .contacts .social a .uil-youtube:hover {
  color: #ff0000;
}
footer .contacts .social a .uil-telegram {
  transition: all 0.3s ease;
}
footer .contacts .social a .uil-telegram:hover {
  color: #28a8e9;
}
footer .contacts .social a .uil-whatsapp-alt {
  transition: all 0.3s ease;
}
footer .contacts .social a .uil-whatsapp-alt:hover {
  color: #2dd56c;
}

.copyright {
  border-top-right-radius: var(--bradbig);
  border-top-left-radius: var(--bradbig);
}/*# sourceMappingURL=styles.css.map */